@mixin icon(
    $icon-name,
    $font-size: 1.25rem,
    $color: inherit,
    $display: inline-block,
    $hide-text: false
) {
    @if $hide-text {
    }

    &:before {
        content: $icon-name !important;
        display: $display;
        font-weight: normal;
        font-family: $font-icons;
        font-style: normal;
        font-size: $font-size;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        background-color: $clr2;
        width: 0.25rem;

        &-track {
            background-color: rgba($grey, 0.75);
        }

        &-thumb {
            background-color: $clr3;
        }
    }
}

@mixin credits {
    &:after {
        content: 'Profile by Hongske';
        padding: 0.5rem 0.75rem;
        border-top-right-radius: $border-radius;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: rgba($grey, 0.5);
        color: rgba($white, 0.75);
    }
}

@mixin hide($items, $str-index) {
    @each $item in $items {
        &#{str-slice($item, $str-index, str-index($item, ',') - 1)} {
            display: $item;
        }
    }
}
