#navigation {
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: normal;
    background-image: none;
}

#overall {
    display: flex;
    justify-content: center;
}

.div_float {
    float: none;
    margin: 2rem 1rem;
}

.column {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.column li {
    margin: 0;
}

.block {
    border: none;
    border-radius: 0;
    background-image: none;

    & + & {
        margin-top: 2rem;
    }
}

.header {
    height: auto;
    padding: 0.5rem 0;
    border: none;
    letter-spacing: normal;
    background-image: none;
}

.info_block {
    display: block;
    background-image: none;
}

a,
button,
input[type='submit'] {
    &:hover,
    &:focus,
    &:active {
        outline: 0;
        text-decoration: none;
        cursor: pointer;
    }
}
