// FONTS
$font_family: var(--font_family);
$font_size: var(--font_size);
$font_icons: var(--font_icons);

// COLOURS
$grey: #333;
$white: #fff;
$clr1: var(--colour_1);
$clr2: var(--colour_2);
$clr3: var(--colour_3);
$clr4: var(--colour_4);

// OTHER
$border_radius: var(--border_radius);

// DISPLAY HEADERS
$display_header_achievements: var(--display_header_achievements, block);
$display_header_avatar: var(--display_header_avatar, block);
$display_header_blank: var(--display_header_blank, block);
$display_header_comment: var(--display_header_comment, block);
$display_header_comments: var(--display_header_comments, block);
$display_header_friends: var(--display_header_friends, block);
$display_header_interests: var(--display_header_interests, block);
$display_header_medals: var(--display_header_medals, block);
$display_header_options: var(--display_header_options, block);
$display_header_pets: var(--display_header_pets, block);
$display_header_profile: var(--display_header_profile, block);
$display_header_shops: var(--display_header_shops, block);
$display_header_stickers: var(--display_header_stickers, block);
$display_header_userinfo1: var(--display_header_userinfo1, block);
$display_header_userinfo2: var(--display_header_userinfo2, block);
$display_header_wishlist: var(--display_header_wishlist, block);

// DISPLAY BLOCKS
$display_content_achievements: var(--display_content_achievements, block);
$display_content_avatar: var(--display_content_avatar, block);
$display_content_blank: var(--display_content_blank, block);
$display_content_comment: var(--display_content_comment, block);
$display_content_comments: var(--display_content_comments, block);
$display_content_friends: var(--display_content_friends, block);
$display_content_interests: var(--display_content_interests, block);
$display_content_medals: var(--display_content_medals, block);
$display_content_options: var(--display_content_options, block);
$display_content_pets: var(--display_content_pets, block);
$display_content_profile: var(--display_content_profile, block);
$display_content_shops: var(--display_content_shops, block);
$display_content_stickers: var(--display_content_stickers, block);
$display_content_userinfo1: var(--display_content_userinfo1, block);
$display_content_userinfo2: var(--display_content_userinfo2, block);
$display_content_wishlist: var(--display_content_wishlist, block);
