@import url("https://fonts.googleapis.com/css?family=Barlow:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* RESET **********************************************************************/
#navigation {
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: normal;
  background-image: none;
}

#overall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div_float {
  float: none;
  margin: 2rem 1rem;
}

.column {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.column li {
  margin: 0;
}

.block {
  border: none;
  border-radius: 0;
  background-image: none;
}

.block + .block {
  margin-top: 2rem;
}

.header {
  height: auto;
  padding: 0.5rem 0;
  border: none;
  letter-spacing: normal;
  background-image: none;
}

.info_block {
  display: block;
  background-image: none;
}

a:hover, a:focus, a:active,
button:hover,
button:focus,
button:active,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='submit']:active {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

/* VARIABLES ******************************************************************/
:root {
  /* FONTS */
  --font_family: Barlow !important;
  --font_size: 15px;
  --font_icons: 'Material Icons';
  /* COLOURS */
  --colour_1: #554b49;
  --colour_2: #232323;
  --colour_3: #9a2d2d;
  --colour_4: #4a060c;
  /* ROUNDED CORNERS */
  --border_radius: 0.25rem;
}

/* BASICS *********************************************************************/
html {
  font-family: var(--font_family) !important;
  font-size: var(--font_size) !important;
}

body,
html,
div,
table,
td,
tr,
a,
input,
textarea,
select {
  color: #333333;
  font-family: inherit;
  font-size: inherit;
  line-height: 1rem;
}

body {
  padding-bottom: 1rem;
  text-align: center;
  background-color: var(--colour_2);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--colour_1)), to(var(--colour_2)));
  background-image: linear-gradient(to right, var(--colour_1), var(--colour_2));
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  background-color: var(--colour_2);
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: rgba(51, 51, 51, 0.75);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--colour_3);
}

body:after {
  content: 'Profile by Hongske';
  padding: 0.5rem 0.75rem;
  border-top-right-radius: var(--border_radius);
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.5);
  color: rgba(255, 255, 255, 0.75);
}

img:hover, img:focus, img:active {
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* NAVIGATION *****************************************************************/
#navigation {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3rem;
  color: transparent;
  font-size: 0;
  line-height: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
  z-index: 999;
}

#navigation a {
  padding: 0 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 3rem;
  color: rgba(51, 51, 51, 0.75);
  -webkit-transition: background-color 0.5s, color 0.5s, -webkit-box-shadow 0.5s 0.25s;
  transition: background-color 0.5s, color 0.5s, -webkit-box-shadow 0.5s 0.25s;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s 0.25s;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s 0.25s, -webkit-box-shadow 0.5s 0.25s;
}

#navigation a:before {
  float: left;
  margin-right: 1rem;
}

#navigation a:after {
  content: '';
  display: block;
  max-width: 0;
  width: calc(100% + 2rem);
  height: 0.25rem;
  margin-top: -0.25rem;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: var(--colour_3);
}

#navigation a:hover, #navigation a:focus, #navigation a:active {
  background-color: rgba(51, 51, 51, 0.05);
  color: rgba(51, 51, 51, 0.9);
  -webkit-box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.25);
          box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.25);
}

#navigation a:hover:after, #navigation a:focus:after, #navigation a:active:after {
  max-width: calc(100% + 2rem);
  -webkit-transition: max-width 0.75s;
  transition: max-width 0.75s;
}

#navigation a[href^='/index']:before {
  content: "home" !important;
  display: inline-block;
  font-weight: normal;
  font-family: var(--font_icons);
  font-style: normal;
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

#navigation a[href^='/news']:before {
  content: "notifications" !important;
  display: inline-block;
  font-weight: normal;
  font-family: var(--font_icons);
  font-style: normal;
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

#navigation a[href^='/games']:before {
  content: "star" !important;
  display: inline-block;
  font-weight: normal;
  font-family: var(--font_icons);
  font-style: normal;
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

#navigation a[href^='/shops']:before {
  content: "store" !important;
  display: inline-block;
  font-weight: normal;
  font-family: var(--font_icons);
  font-style: normal;
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

#navigation a[href^='/forums']:before {
  content: "group" !important;
  display: inline-block;
  font-weight: normal;
  font-family: var(--font_icons);
  font-style: normal;
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

#navigation a[href^='/inventory']:before {
  content: "archive" !important;
  display: inline-block;
  font-weight: normal;
  font-family: var(--font_icons);
  font-style: normal;
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

/* CONTENT ********************************************************************/
#overall {
  padding-top: 3rem;
}

.div_float {
  -ms-flex-preferred-size: 390px;
      flex-basis: 390px;
}

.header {
  border-radius: var(--border_radius) var(--border_radius) 0 0;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #fff;
  background-color: var(--colour_3);
}

.header:empty {
  display: none;
}

.header:empty + .info_block {
  border-radius: var(--border_radius);
}

#header_achievements {
  display: var(--display_header_achievements, block);
}

#header_avatar {
  display: var(--display_header_avatar, block);
}

#header_blank {
  display: var(--display_header_blank, block);
}

#header_comment {
  display: var(--display_header_comment, block);
}

#header_comments {
  display: var(--display_header_comments, block);
}

#header_friends {
  display: var(--display_header_friends, block);
}

#header_interests {
  display: var(--display_header_interests, block);
}

#header_medals {
  display: var(--display_header_medals, block);
}

#header_options {
  display: var(--display_header_options, block);
}

#header_pets {
  display: var(--display_header_pets, block);
}

#header_profile {
  display: var(--display_header_profile, block);
}

#header_shops {
  display: var(--display_header_shops, block);
}

#header_stickers {
  display: var(--display_header_stickers, block);
}

#header_userinfo1 {
  display: var(--display_header_userinfo1, block);
}

#header_userinfo2 {
  display: var(--display_header_userinfo2, block);
}

#header_wishlist {
  display: var(--display_header_wishlist, block);
}

#header_pets {
  display: none;
}

.info_block {
  border-radius: 0 0 var(--border_radius) var(--border_radius);
  background-color: #fff;
}

.info_block tbody,
.info_block tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_block tr {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.info_block td {
  padding: 1rem !important;
}

.info_block td:only-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.info_block td:nth-last-child(2):first-child,
.info_block td:nth-last-child(2):first-child ~ td {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.info_block td:nth-last-child(3):first-child,
.info_block td:nth-last-child(3):first-child ~ td {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
}

#content_achievements {
  display: var(--display_content_achievements, block);
}

#content_avatar {
  display: var(--display_content_avatar, block);
}

#content_blank {
  display: var(--display_content_blank, block);
}

#content_comment {
  display: var(--display_content_comment, block);
}

#content_comments {
  display: var(--display_content_comments, block);
}

#content_friends {
  display: var(--display_content_friends, block);
}

#content_interests {
  display: var(--display_content_interests, block);
}

#content_medals {
  display: var(--display_content_medals, block);
}

#content_options {
  display: var(--display_content_options, block);
}

#content_pets {
  display: var(--display_content_pets, block);
}

#content_profile {
  display: var(--display_content_profile, block);
}

#content_shops {
  display: var(--display_content_shops, block);
}

#content_stickers {
  display: var(--display_content_stickers, block);
}

#content_userinfo1 {
  display: var(--display_content_userinfo1, block);
}

#content_userinfo2 {
  display: var(--display_content_userinfo2, block);
}

#content_wishlist {
  display: var(--display_content_wishlist, block);
}

#content_comment form + br {
  display: none;
}

#content_comment textarea,
#content_comment input[type='submit'] {
  border: 0;
  border-radius: var(--border_radius);
  width: 100% !important;
}

#content_comment textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: rgba(51, 51, 51, 0.05);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#content_comment textarea:focus, #content_comment textarea:active {
  -webkit-box-shadow: inset 0 0 0.25rem rgba(51, 51, 51, 0.5);
          box-shadow: inset 0 0 0.25rem rgba(51, 51, 51, 0.5);
  outline: none;
}

#content_comment input[type='submit'] {
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  background-color: var(--colour_4);
  -webkit-transition: background-color 0.5s, letter-spacing 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, letter-spacing 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, letter-spacing 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, letter-spacing 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#content_comment input[type='submit']:hover, #content_comment input[type='submit']:focus, #content_comment input[type='submit']:active {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  background-color: var(--colour_3);
  -webkit-box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.5);
          box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

#content_medals, #content_stickers, #content_wishlist {
  font-size: 0.75rem;
}

#content_medals tr:not(:first-child), #content_stickers tr:not(:first-child), #content_wishlist tr:not(:first-child) {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

#content_medals td:not(:first-child), #content_stickers td:not(:first-child), #content_wishlist td:not(:first-child) {
  border-left: 1px solid rgba(51, 51, 51, 0.1);
}

#content_medals img, #content_stickers img, #content_wishlist img {
  margin-bottom: 0.5rem;
}

#content_options a[href*='gift'] {
  display: inline-block;
  color: var(--colour_3);
  font-weight: bold;
}

#content_options a[href*='gift'] img {
  margin-bottom: 1rem;
}

#content_options a[href*='gift'] img:hover, #content_options a[href*='gift'] img:focus, #content_options a[href*='gift'] img:active {
  opacity: 1;
}

#content_options a[href*='gift']:after {
  content: '';
  display: block;
  max-width: 0;
  width: 100%;
  height: 2px;
  margin-top: 2px;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: var(--colour_3);
}

#content_options a[href*='gift']:hover:after, #content_options a[href*='gift']:focus:after, #content_options a[href*='gift']:active:after {
  max-width: 100%;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

#content_options .user-options a + a img {
  margin-left: 1rem;
}

#content_pets {
  background: transparent;
}

#content_pets tr:empty {
  display: none;
}

#content_pets tr:not(:last-child) {
  padding-bottom: 1rem;
}

#content_pets td {
  padding: 0 !important;
}

#content_pets td:nth-child(odd) {
  padding-right: 0.5rem !important;
}

#content_pets td:nth-child(even) {
  padding-left: 0.5rem !important;
}

#content_pets td a {
  display: block;
  position: relative;
  border-radius: var(--border_radius);
  width: 100%;
  height: 60px;
  padding-right: 1rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
  text-shadow: 0 1px 1px #333, 0 -1px 1px #333, -1px 0 1px #333, 1px 0 1px #333;
  line-height: 60px;
  background-color: transparent;
  background-image: linear-gradient(to right, transparent 30px, var(--colour_4));
  -webkit-transition: background-color 0.5s, text-align 0.5s, letter-spacing 0.5s;
  transition: background-color 0.5s, text-align 0.5s, letter-spacing 0.5s;
}

#content_pets td a .avatar_head {
  border: none;
  border-radius: var(--border_radius) 0 0 var(--border_radius);
  margin: 0 0 -60px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#content_pets td a:hover, #content_pets td a:focus, #content_pets td a:active {
  padding-right: 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 2px #333;
  letter-spacing: 0.05rem;
  background-color: var(--colour_3);
  -webkit-box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.5);
          box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

#content_pets td a:hover .avatar_head, #content_pets td a:focus .avatar_head, #content_pets td a:active .avatar_head {
  opacity: 0;
}

#content_pets td:only-child {
  padding: 0 !important;
}

#content_profile td {
  line-height: 1.5;
}

#content_stickers a, #content_wishlist a {
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  background-color: var(--colour_4);
  -webkit-transition: background-color 0.5s, letter-spacing 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, letter-spacing 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, letter-spacing 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, letter-spacing 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  border-radius: var(--border_radius);
  display: block;
  font-size: 1rem;
}

#content_stickers a:hover, #content_stickers a:focus, #content_stickers a:active, #content_wishlist a:hover, #content_wishlist a:focus, #content_wishlist a:active {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  background-color: var(--colour_3);
  -webkit-box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.5);
          box-shadow: inset 0 0 0.2rem rgba(51, 51, 51, 0.5);
}

#content_userinfo1 .data, #content_userinfo2 .data {
  text-align: left;
  line-height: 1.5;
}

#content_userinfo1 a, #content_userinfo2 a {
  display: inline-block;
  color: var(--colour_3);
}

#content_userinfo1 a:after, #content_userinfo2 a:after {
  content: '';
  display: block;
  max-width: 0;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: var(--colour_3);
}

#content_userinfo1 a:hover:after, #content_userinfo1 a:focus:after, #content_userinfo1 a:active:after, #content_userinfo2 a:hover:after, #content_userinfo2 a:focus:after, #content_userinfo2 a:active:after {
  max-width: 100%;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

/* TOOLBOX ********************************************************************/
#toolbox {
  border: 0;
  border-radius: var(--border_radius);
  max-width: calc(100% - 2rem);
  margin: 0;
  padding: 1rem;
  position: relative;
  top: 4rem;
  -webkit-box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 1rem rgba(51, 51, 51, 0.5);
  line-height: 1.5;
}

#toolbox button,
#toolbox input[type='submit'] {
  border: 0;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

#toolbox button:hover, #toolbox button:focus, #toolbox button:active,
#toolbox input[type='submit']:hover,
#toolbox input[type='submit']:focus,
#toolbox input[type='submit']:active {
  background-color: #000;
  color: #fff;
}

#toolbox #new-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#toolbox #new-content .mt-2 {
  width: 100% !important;
  margin: 1rem 0 !important;
}

#toolbox #new-content .d-inline-block.w-50.text-center {
  display: block;
  width: 33.3333% !important;
  text-align: left !important;
  line-height: 1.5;
}

#toolbox #new-content .d-inline-block.w-50.text-center input {
  margin-right: 0.5rem;
}

#toolbox #new-content > p {
  width: 100%;
  margin: 1rem 0;
}

#toolbox #new-content input[type='submit'] {
  margin: 0 auto;
}
/*# sourceMappingURL=theme_v1.css.map */