@import 'shared/mixins';
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* RESET **********************************************************************/
@import 'shared/reset';

/* VARIABLES ******************************************************************/
@import 'shared/variables';
:root {
    /* FONTS */
    --font_family: Barlow !important;
    --font_size: 15px;
    --font_icons: 'Material Icons';

    /* COLOURS */
    --colour_1: #554b49;
    --colour_2: #232323;
    --colour_3: #9a2d2d;
    --colour_4: #4a060c;

    /* ROUNDED CORNERS */
    --border_radius: 0.25rem;
}

@mixin button {
    padding: 0.5rem;
    color: rgba($white, 0.75);
    text-align: center;
    background-color: $clr4;
    transition: background-color 0.5s, letter-spacing 0.5s, box-shadow 0.5s;

    &:hover,
    &:focus,
    &:active {
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        background-color: $clr3;
        box-shadow: inset 0 0 0.2rem rgba($grey, 0.5);
    }
}

/* BASICS *********************************************************************/
html {
    font-family: $font-family !important;
    font-size: $font-size !important;
}

body,
html,
div,
table,
td,
tr,
a,
input,
textarea,
select {
    color: rgba($grey, 1);
    font-family: inherit;
    font-size: inherit;
    line-height: 1rem;
}

body {
    padding-bottom: 1rem;
    text-align: center;
    background-color: $clr2;
    background-image: linear-gradient(to right, $clr1, $clr2);
    background-attachment: fixed;

    @include scrollbar;
    @include credits;
}

img {
    &:hover,
    &:focus,
    &:active {
        opacity: 0.5;
        transition: opacity 0.5s;
    }
}

/* NAVIGATION *****************************************************************/
#navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    color: transparent;
    font-size: 0;
    line-height: 0;
    background-color: $white;
    box-shadow: 0 0 1rem rgba($grey, 0.5);
    z-index: 999;

    a {
        padding: 0 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 3rem;
        color: rgba($grey, 0.75);
        transition: background-color 0.5s, color 0.5s, box-shadow 0.5s 0.25s;

        &:before {
            float: left;
            margin-right: 1rem;
        }

        &:after {
            content: '';
            display: block;
            max-width: 0;
            width: calc(100% + 2rem);
            height: 0.25rem;
            margin-top: -0.25rem;
            margin-left: 50%;
            transform: translate(-50%, 0);
            background-color: $clr3;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: rgba($grey, 0.05);
            color: rgba($grey, 0.9);
            box-shadow: inset 0 0 0.2rem rgba($grey, 0.25);

            &:after {
                max-width: calc(100% + 2rem);
                transition: max-width 0.75s;
            }
        }

        &[href^='/index'] {
            @include icon('home');
        }

        &[href^='/news'] {
            @include icon('notifications');
        }

        &[href^='/games'] {
            @include icon('star');
        }

        &[href^='/shops'] {
            @include icon('store');
        }

        &[href^='/forums'] {
            @include icon('group');
        }

        &[href^='/inventory'] {
            @include icon('archive');
        }
    }
}

/* CONTENT ********************************************************************/
#overall {
    padding-top: 3rem;
}

.div_float {
    flex-basis: 390px;
}

.header {
    border-radius: $border_radius $border_radius 0 0;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: $white;
    background-color: $clr3;

    &:empty {
        display: none;

        + .info_block {
            border-radius: $border_radius;
        }
    }
}

#header {
    @include hide(
        $items: (
            $display_header_achievements,
            $display_header_avatar,
            $display_header_blank,
            $display_header_comment,
            $display_header_comments,
            $display_header_friends,
            $display_header_interests,
            $display_header_medals,
            $display_header_options,
            $display_header_pets,
            $display_header_profile,
            $display_header_shops,
            $display_header_stickers,
            $display_header_userinfo1,
            $display_header_userinfo2,
            $display_header_wishlist
        ),
        $str-index: 21
    );

    &_pets {
        display: none;
    }
}

.info_block {
    border-radius: 0 0 $border_radius $border_radius;
    background-color: $white;

    tbody,
    tr {
        display: flex;
        flex-wrap: wrap;
    }

    tr {
        flex-basis: 100%;
        flex-wrap: nowrap;
    }

    td {
        padding: 1rem !important;

        &:only-child {
            flex-basis: 100%;
        }

        &:nth-last-child(2):first-child,
        &:nth-last-child(2):first-child ~ td {
            flex-basis: 50%;
        }

        &:nth-last-child(3):first-child,
        &:nth-last-child(3):first-child ~ td {
            flex-basis: 33.3333%;
        }
    }
}

#content {
    @include hide(
        $items: (
            $display_content_achievements,
            $display_content_avatar,
            $display_content_blank,
            $display_content_comment,
            $display_content_comments,
            $display_content_friends,
            $display_content_interests,
            $display_content_medals,
            $display_content_options,
            $display_content_pets,
            $display_content_profile,
            $display_content_shops,
            $display_content_stickers,
            $display_content_userinfo1,
            $display_content_userinfo2,
            $display_content_wishlist
        ),
        $str-index: 22
    );

    &_comment {
        form + br {
            display: none;
        }

        textarea,
        input[type='submit'] {
            border: 0;
            border-radius: $border_radius;
            width: 100% !important;
        }

        textarea {
            margin-bottom: 1rem;
            padding: 0.5rem;
            background-color: rgba($grey, 0.05);
            transition: box-shadow 0.5s;

            &:focus,
            &:active {
                box-shadow: inset 0 0 0.25rem rgba($grey, 0.5);
                outline: none;
            }
        }

        input[type='submit'] {
            @include button;
        }
    }

    &_medals,
    &_stickers,
    &_wishlist {
        font-size: 0.75rem;

        tr:not(:first-child) {
            border-top: 1px solid rgba($grey, 0.1);
        }

        td:not(:first-child) {
            border-left: 1px solid rgba($grey, 0.1);
        }

        img {
            margin-bottom: 0.5rem;
        }
    }

    &_options {
        a[href*='gift'] {
            display: inline-block;
            color: $clr3;
            font-weight: bold;

            img {
                margin-bottom: 1rem;

                &:hover,
                &:focus,
                &:active {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                display: block;
                max-width: 0;
                width: 100%;
                height: 2px;
                margin-top: 2px;
                margin-left: 50%;
                transform: translate(-50%, 0);
                background-color: $clr3;
            }

            &:hover,
            &:focus,
            &:active {
                &:after {
                    max-width: 100%;
                    transition: max-width 0.5s;
                }
            }
        }

        .user-options {
            a + a img {
                margin-left: 1rem;
            }
            // a[href^='/mail'] {
            //     @include icon('mail');
            // }
            // a[href^='/friends'] {
            //     @include icon('person_add');
            // }
        }
    }

    &_pets {
        background: transparent;

        tr {
            &:empty {
                display: none;
            }

            &:not(:last-child) {
                padding-bottom: 1rem;
            }
        }

        td {
            padding: 0 !important;

            &:nth-child(odd) {
                padding-right: 0.5rem !important;
            }

            &:nth-child(even) {
                padding-left: 0.5rem !important;
            }

            a {
                display: block;
                position: relative;
                border-radius: $border_radius;
                width: 100%;
                height: 60px;
                padding-right: 1rem;
                color: rgba($white, 0.75);
                text-align: right;
                text-shadow: 0 1px 1px $grey, 0 -1px 1px $grey, -1px 0 1px $grey, 1px 0 1px $grey;
                line-height: 60px;
                background-color: transparent;
                background-image: linear-gradient(to right, transparent 30px, $clr4);
                transition: background-color 0.5s, text-align 0.5s, letter-spacing 0.5s;

                .avatar_head {
                    border: none;
                    border-radius: $border_radius 0 0 $border_radius;
                    margin: 0 0 -60px;
                    position: absolute;
                    cursor: pointer;
                    z-index: -1;
                    transition: opacity 0.5s;
                }

                &:hover,
                &:focus,
                &:active {
                    padding-right: 0;
                    color: $white;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    text-shadow: 0 0 2px $grey;
                    letter-spacing: 0.05rem;
                    background-color: $clr3;
                    box-shadow: inset 0 0 0.2rem rgba($grey, 0.5);

                    .avatar_head {
                        opacity: 0;
                    }
                }
            }

            &:only-child {
                padding: 0 !important;
            }
        }
    }

    &_profile {
        td {
            line-height: 1.5;
        }
    }

    &_stickers,
    &_wishlist {
        a {
            @include button;
            border-radius: $border_radius;
            display: block;
            font-size: 1rem;
        }
    }

    &_userinfo1,
    &_userinfo2 {
        .data {
            text-align: left;
            line-height: 1.5;
        }

        a {
            display: inline-block;
            color: $clr3;

            &:after {
                content: '';
                display: block;
                max-width: 0;
                width: 100%;
                height: 1px;
                margin-top: 2px;
                margin-left: 50%;
                transform: translate(-50%, 0);
                background-color: $clr3;
            }

            &:hover,
            &:focus,
            &:active {
                &:after {
                    max-width: 100%;
                    transition: max-width 0.5s;
                }
            }
        }
    }
}

/* TOOLBOX ********************************************************************/
#toolbox {
    border: 0;
    border-radius: $border_radius;
    max-width: calc(100% - 2rem);
    margin: 0;
    padding: 1rem;
    position: relative;
    top: 4rem;
    box-shadow: 0 0 1rem rgba($grey, 0.5);
    line-height: 1.5;

    button,
    input[type='submit'] {
        border: 0;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        transition: background-color 0.25s, color 0.25s;

        &:hover,
        &:focus,
        &:active {
            background-color: #000;
            color: #fff;
        }
    }

    #new-content {
        display: flex;
        flex-wrap: wrap;

        .mt-2 {
            width: 100% !important;
            margin: 1rem 0 !important;
        }

        .d-inline-block.w-50.text-center {
            display: block;
            width: 33.3333% !important;
            text-align: left !important;
            line-height: 1.5;

            input {
                margin-right: 0.5rem;
            }
        }

        > p {
            width: 100%;
            margin: 1rem 0;
        }

        input[type='submit'] {
            margin: 0 auto;
        }
    }
}
