// SEARCH - FIELDS
.ui.form input[value='search'] + .fields {
    margin-top: -1rem;
    padding: 1rem;

    .field.wide {
        &.sixteen {
            .icon.search {
                display: none;
            }
        }

        &.twelve,
        &.four {
            width: calc((100% - 1rem) / 2);
            margin-bottom: 0;
        }

        &.twelve {
            margin-right: 1rem;

            @media #{$tablet} {
                width: calc(75% - 1rem);
            }
        }

        &.four {
            @media #{$tablet} {
                width: 25%;
            }
        }
    }
}

// SEARCH - MOVE ITEM
#moveTo {
    .panel-move-item {
        display: flex;
        align-items: center;

        .panel-heading .panel-title {
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }
}

// SEARCH - RESULTS
#searchResults {
    border-radius: $border-radius;
    background-color: $white;

    .alert {
        margin: 1rem !important;
    }

    .ui.grid .row {
        margin-top: 1rem;
        padding: 0 1rem 1rem;
        border-bottom: 1px solid $grey-light;

        .column.wide {
            // NAME
            &:nth-child(1) {
                width: 50%;
                text-align: left;

                @media #{$mobile-only} {
                    display: none;
                }
            }

            // QUANTITY & SHOP BUY
            &:nth-last-child(1),
            &:nth-last-child(2) {
                width: 25%;

                @media #{$tablet} {
                    width: 15%;
                }
            }
        }

        &:not(.yellow) {
            .column.wide {
                // GALLERY OWNER
                &:nth-child(2) {
                    width: 75%;
                    text-align: left;

                    @media #{$tablet} {
                        width: 35%;
                    }
                }

                // SHOP PRICE
                &:nth-child(3) {
                    width: 50%;
                    text-align: left;

                    @media #{$tablet} {
                        width: 20%;
                    }
                }
            }
        }

        &.shop_highlight {
            margin-top: 0;
            margin-bottom: 1rem;
            padding-top: 1rem;

            &.yellow {
                background-color: $alert-yellow;
                color: $white;
            }

            &.blue {
                background-color: $alert-blue;
                color: $white;
            }

            a {
                color: $white;
            }

            .btn {
                @include button($color: $white, $black-text: true);
            }

            .column.wide {
                // SHOP PRICE
                &:nth-child(2) {
                    width: 50%;
                    text-align: left;

                    @media #{$tablet} {
                        width: 20%;
                    }
                }
            }

            + .shop_highlight {
                margin-top: -1rem !important;
            }
        }
    }
}

/******************************************************************************/

// MOVE A BOUGHT ITEM
.panel-move-item {
    width: 100%;
    margin-bottom: 1rem;

    + #move-error + p {
        margin-bottom: 0;
    }
}

/******************************************************************************/

// NPC SHOP - BUY ITEM
div[style='width: 70%; margin-left: auto; margin-right: auto'] .ui.segment.text_center {
    padding: 1rem;

    br {
        display: none;
    }
}
