// OVERVIEW
h1 + p + .table.text-center {
    @include table-cols(6);
}

// SHOP
script[src*='/js/autopricer.js'] + .container {
    // NAVIGATION
    .row:nth-child(1) {
        h1 {
            display: none;
        }

        .nav {
            .nav-link[href*='edit_categories'],
            .nav-link[href^='/user_shops.php/shop/'],
            .nav-link[href='/user_shops.php/mine'] {
                display: none;
            }
        }
    }

    // PAGES
    .row:nth-child(2) > .col-md-12 {
        margin-top: 1rem;

        // EDIT ITEMS
        > form[method='get'] {
            .card {
                margin: 0 auto 1rem !important;

                .card-body .row {
                    display: flex;
                    flex-wrap: wrap;

                    .col {
                        flex-basis: calc((100% - 2rem) / 3);
                        padding: 0;

                        @media #{$mobile} {
                            flex-basis: 100%;
                        }

                        &:nth-child(3n),
                        &:nth-child(3n - 1) {
                            margin-left: 1rem;

                            @media #{$mobile} {
                                margin-left: 0;
                            }
                        }

                        &:nth-child(n + 2) {
                            @media #{$mobile} {
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }

            + .col-12.mb-3 + form[method='post'] {
                .card .card-body .table {
                    thead th {
                        &:nth-last-child(n + 2) {
                            display: none;
                        }

                        &:last-child {
                            padding: 0 0 1rem;
                            border-top: 0;
                            border-radius: 0;
                            background-color: transparent;
                            font-size: 0;
                            text-align: left !important;

                            .btn {
                                @media #{$mobile} {
                                    margin-top: 0;
                                }
                            }
                        }
                    }

                    tbody tr {
                        @media #{$mobile} {
                            display: flex;
                            flex-wrap: wrap;
                        }

                        td {
                            &:nth-child(1),
                            &:nth-child(4) {
                                display: none;
                            }

                            .price_field[value=''] {
                                @include alert-color($alert-red);
                            }

                            @media #{$mobile} {
                                padding-left: 0;
                                padding-right: 0;

                                &:nth-child(2),
                                &:nth-child(5) {
                                    flex-basis: calc(75%);
                                }

                                &:nth-child(3),
                                &:nth-child(6) {
                                    flex-basis: 25%;
                                    text-align: right;
                                }

                                &:nth-child(5),
                                &:nth-child(6) {
                                    padding-top: 0;
                                    border: 0;
                                }

                                &:nth-child(2) {
                                    .wl_item,
                                    br {
                                        display: none;
                                    }
                                }

                                &:nth-child(5) input {
                                    width: 100%;
                                }

                                &:nth-child(6) {
                                    select {
                                        width: calc(100% - 1rem);
                                    }
                                    label {
                                        font-size: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // QUICK STOCK
        #quickstock-grid {
            margin: 1rem 0 0 !important;

            br {
                display: none;
            }

            .row {
                &[style*='background-color: rgb(240, 240, 240);'] {
                    background-color: rgba($accent, 0.5) !important;
                }

                > .column:nth-child(1) {
                    width: 40%;
                    padding-left: 1rem;
                    text-align: left !important;

                    @media #{$mobile} {
                        width: 100%;
                        padding-right: 1rem;
                    }
                }

                > .column:nth-child(2) {
                    width: auto;
                    margin-left: auto;
                    padding: 0;

                    @media #{$mobile} {
                        margin-left: 1rem;
                    }

                    .column:nth-child(4) {
                        display: none;
                    }
                }

                > .column:nth-child(n + 2) {
                    .column,
                    .ui.grid .column.wide.four {
                        width: $target;
                        padding: 0;
                    }

                    .ui.grid .column.wide.four {
                        width: $target !important;
                        margin-left: 1rem;

                        @media #{$mobile} {
                            margin-left: 0;
                            margin-right: 0.625rem;
                        }
                    }
                }

                > .column:nth-child(3) {
                    width: $target;
                    margin: 0 1rem;
                    padding: 0;

                    @media #{$mobile} {
                        margin: 0;
                    }

                    .column:nth-last-child(-n + 2) {
                        display: none;
                    }
                }

                .ui.grid.internally {
                    flex-wrap: nowrap;
                    margin: 0 !important;
                }
            }

            #sticky {
                top: $target;
                z-index: 1;

                @media #{$mobile} {
                    top: calc(#{$target} * 2);
                }

                > .column {
                    &:nth-child(n + 2) {
                        .ui.grid {
                            .column {
                                font-size: 0 !important;

                                @at-root .qs-label {
                                    margin: 4px 0 0;
                                }

                                @at-root .qs-button.ui.button {
                                    width: $target;
                                    padding: 0 !important;
                                    font-size: 0 !important;

                                    &[x-type='shop']:before {
                                        @include font-icon('store');
                                    }
                                    &[x-type='vault']:before {
                                        @include font-icon('archive');
                                    }
                                    &[x-type='wardrobe']:before {
                                        @include font-icon('accessibility');
                                    }
                                    &[x-type='collection']:before {
                                        @include font-icon('casino');
                                    }
                                    &[x-type='keep'] {
                                        @include button-inverse();

                                        &:before {
                                            @include font-icon('home');
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // AUTOPRICER
        > img[src*='subeta.net/artist/68097_icon_autopricer.gif'] {
            display: none;

            + .ui.basic.segment.left.aligned {
                display: none;

                + #load_button {
                    margin-top: 0;
                    margin-bottom: 2rem;

                    + #sendprices_button {
                        margin-top: 0;

                        .ui.message.warning {
                            margin-bottom: 2rem;
                        }

                        + #autoprice_buttons {
                            margin-top: 0;

                            input:last-of-type {
                                margin-left: 1rem !important;

                                @media #{$mobile} {
                                    margin-top: 1rem !important;
                                    margin-left: 0 !important;
                                }

                                + br + br {
                                    display: none;
                                }
                            }

                            + #autoprice_form {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        // PROFITS
        > .row > .col-md-6 .card {
            margin-top: 0 !important;
        }

        // EDIT SHOP
        > form[method='post'].ui.form .ui.middle.aligned.vertically.divided.grid {
            .row {
                display: block;
                padding-top: 0;
                box-shadow: none !important;

                .column {
                    display: block;
                    width: 100%;
                    text-align: left !important;

                    &:empty {
                        display: none;
                    }
                }
            }
        }
    }
}
