// OVERVIEW
h1 + p + .table.text-center {
    @include table-cols(6);

    + .card form {
        #shop-name,
        #shop-type,
        #shop-type + .btn {
            @media #{$mobile-only} {
                display: block;
                width: 100%;
                margin-top: 1rem;
                margin-bottom: 0 !important;
            }

            @media #{$tablet} {
                margin: 0 !important;
                margin-left: 1rem !important;
            }
        }
    }
}

/******************************************************************************/

script[src*='/js/autopricer.js'] + .container {
    // NAVIGATION
    .row:nth-child(1) {
        h1 {
            display: none;
        }

        .nav {
            &-link {
                &[href$='quick_stock'] {
                    display: $display_yourShops-quickStock;
                }
                &[href$='autopricer'] {
                    display: $display_yourShops-autopricer;
                }
                &[href$='profits'] {
                    display: $display_yourShops-profits;
                }
                &[href$='history'] {
                    display: $display_yourShops-salesHistory;
                }
                &[href$='edit_categories'] {
                    display: $display_yourShops-editCategories;
                }
                &[href*='/shop/'] {
                    display: $display_yourShops-viewShop;
                }
                &[href$='edit_shop'] {
                    display: $display_yourShops-editShop;
                }
                &[href$='mine'] {
                    display: $display_yourShops-yourShops;
                }
            }
        }
    }

    // CONTENT
    .row:nth-child(2) .col-md-12 {
        // EDIT ITEMS
        > form[method='get'] {
            .card {
                &-body .row .col {
                    @include cols($padding: 0, $spacing: 1rem);

                    @media #{$mobile-only} {
                        &:nth-child(n + 2) {
                            margin-top: 1rem;
                        }
                    }

                    @media #{$tablet-only} {
                        &:nth-child(n + 3) {
                            margin-top: 1rem;
                        }
                    }

                    @media #{$desktop} {
                        &:nth-child(n + 4) {
                            margin-top: 1rem;
                        }
                    }
                }

                &-footer {
                    padding: 0;

                    .btn {
                        @include button($color: $white, $black-text: true);
                        margin: 1rem;
                    }
                }
            }

            + .col-12.mb-3 + form[method='post'] {
                .card-body {
                    padding: 0;

                    .table {
                        thead th,
                        tbody td {
                            padding: 1rem;
                        }

                        thead th {
                            &:nth-last-child(n + 2) {
                                display: none;
                            }

                            &:last-child {
                                width: 100%;
                                border-radius: 0;

                                .btn {
                                    @include button($color: $white, $black-text: true);
                                    margin-top: 0;
                                    margin-left: 1rem;
                                }

                                br {
                                    display: none;
                                }
                            }
                        }

                        tbody tr {
                            padding: 1rem;

                            td {
                                padding: 0 0 1rem;

                                @media #{$tablet} {
                                    flex: 1 1 auto;

                                    &:not(:last-child) {
                                        margin-right: 1rem;
                                    }
                                }

                                &:nth-child(1) {
                                    display: none;
                                    flex-basis: $target;
                                    order: 3;
                                    margin-right: 1rem;
                                    font-size: 0.75rem;

                                    @media #{$tablet} {
                                        flex-basis: 10rem;
                                        order: 1;
                                        margin-right: 0;
                                    }
                                }

                                &:nth-child(2) {
                                    flex-basis: calc(100% - 3rem);
                                    order: 1;
                                    display: flex;
                                    align-items: center;
                                    font-size: 0.75rem;

                                    img {
                                        margin-right: 0.5rem;
                                    }

                                    .wl {
                                        display: none;
                                    }
                                }

                                &:nth-child(3) {
                                    flex-basis: 2rem;
                                    order: 2;
                                    margin-left: 1rem;
                                    padding-top: 0.5rem;
                                    text-align: right;
                                }

                                &:nth-child(4) {
                                    flex-basis: 100%;
                                    order: 4;

                                    select {
                                        width: 100%;
                                    }
                                }

                                &:nth-child(5) {
                                    flex-basis: calc(100% - 4rem - 1rem);
                                    order: 5;
                                    align-self: flex-start;
                                    padding-bottom: 0;

                                    .price_field {
                                        display: block;
                                        width: 100%;
                                        margin-bottom: 1rem;

                                        &[value=''] {
                                            @include alert($alert-red);
                                            margin-top: 0 !important;
                                        }
                                    }
                                }

                                &:nth-child(6) {
                                    flex-basis: 4rem;
                                    order: 6;
                                    align-self: flex-start;
                                    margin-left: 1rem;
                                    padding-bottom: 0;
                                    text-align: right;

                                    @media #{$tablet} {
                                        flex: 1 0 auto;
                                        margin-left: 0;
                                    }

                                    select {
                                        width: 100%;
                                    }

                                    label {
                                        margin: 1rem 0 0;
                                        font-size: 0;

                                        &:after {
                                            content: 'All';
                                            padding-left: 0.5em;
                                            font-size: 1rem;
                                        }
                                    }
                                }

                                select {
                                    display: block;
                                }

                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .card-footer {
                    padding: 1rem;

                    @media #{$mobile-only} {
                        flex-direction: column;
                    }

                    @media #{$tablet} {
                        .form-group {
                            label {
                                margin-right: 1rem;
                            }
                        }

                        .m4 {
                            margin-left: auto;

                            .btn {
                                @include button($color: $white, $black-text: true);
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }

        // QUICK STOCK
        .ui.message.info + .ui.message.warning {
            margin-bottom: 0 !important;
        }
        #quickstock-grid {
            background-color: transparent !important;

            br {
                display: none;
            }

            .row {
                background-color: $white;

                &:nth-child(n + 2) {
                    margin-top: 0;
                }

                &[style*='background-color: rgb(240, 240, 240);'] {
                    border: 1px solid $white !important;
                    border-top: 0 !important;
                }

                > .column {
                    display: block;

                    &:nth-child(1) {
                        width: 100%;
                        text-align: left !important;

                        @media #{$tablet} {
                            width: calc(100% - 29rem);
                        }
                    }

                    &:nth-child(n + 2) {
                        flex: 1 0 auto;
                        padding: 0;

                        .column {
                            flex-basis: auto;
                            width: auto !important;
                            margin: 0;
                            padding: 0;
                            font-size: 0 !important;
                            text-align: center !important;

                            &:nth-child(n + 2) {
                                margin-left: 0.5rem !important;
                                border-top: 0;

                                @media #{$tablet} {
                                    margin-left: 1rem !important;
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        width: 70%;
                        padding-left: 1rem;

                        @media #{$tablet} {
                            width: 20rem;
                            margin-left: auto;
                        }
                    }

                    &:nth-child(3) {
                        width: 30%;
                        margin-left: auto;
                        padding-right: 1rem;

                        @media #{$tablet} {
                            width: 7rem;
                        }

                        .ui.grid {
                            display: flex !important;
                            flex-wrap: nowrap;
                            width: auto !important;
                            justify-content: flex-end !important;
                        }

                        .column {
                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }

                    .qs-button,
                    .qs-label {
                        width: 2.1rem;

                        @media #{$tablet} {
                            width: 3rem;
                        }
                    }
                }

                &#sticky {
                    display: flex;
                    top: $target * 2;
                    padding-top: 1rem;
                    background-color: $grey-light;
                    z-index: 1;

                    @media #{$tablet} {
                        top: $target;
                    }

                    > .column {
                        @media #{$tablet} {
                            margin: 0;
                        }

                        &:nth-child(1) {
                            padding: 1rem;
                            border-radius: $border-radius $border-radius 0 0;
                            background-color: $primary;

                            @media #{$tablet} {
                                border-radius: $border-radius 0 0 0;
                                border-bottom: 1px solid $grey-light;
                                background-color: $white;
                            }
                        }

                        &:nth-child(n + 2) {
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            border-bottom: 1px solid $grey-light;
                            background-color: $white;
                        }

                        &:nth-child(3) {
                            @media #{$tablet} {
                                border-radius: 0 $border-radius 0 0;
                            }
                        }
                    }

                    .qs-button {
                        height: 2.1rem;
                        padding: 0 !important;
                        font-size: 0 !important;

                        @media #{$tablet} {
                            margin-top: 0;
                            height: 3rem;
                        }

                        &:before {
                            line-height: 2rem;

                            @media #{$tablet} {
                                line-height: 2.75rem;
                            }
                        }

                        &[x-type='shop']:before {
                            @include icon('store', $font-size: 1.25rem);
                        }

                        &[x-type='vault']:before {
                            @include icon('archive', $font-size: 1.25rem);
                        }

                        &[x-type='wardrobe']:before {
                            @include icon('checkroom', $font-size: 1.25rem);
                        }

                        &[x-type='armory']:before {
                            @include icon('security', $font-size: 1.25rem);
                        }

                        &[x-type='collection']:before {
                            @include icon('extension', $font-size: 1.25rem);
                        }

                        &[x-type='keep'] {
                            background-color: $alert-green !important;

                            @include hover {
                                border-color: $alert-green !important;
                                background-color: transparent !important;
                                color: $alert-green !important;
                            }

                            &:before {
                                @include icon('home', $font-size: 1.25rem);
                            }
                        }

                        &[x-type='donate'] {
                            background-color: $alert-red !important;

                            @include hover {
                                border-color: $alert-red !important;
                                background-color: transparent !important;
                                color: $alert-red !important;
                            }

                            &:before {
                                @include icon('card_giftcard', $font-size: 1.25rem);
                            }
                        }

                        &[x-type='delete']:before {
                            @include icon('delete', $font-size: 1.25rem);
                        }
                    }
                }

                &.sticky {
                    border-bottom: 0;
                }

                &:not(#sticky) {
                    &:not(:last-child) {
                        padding: 0.5rem 0;
                        border-bottom: 1px solid $grey-light;

                        @media #{$tablet} {
                            padding: 1rem 0;
                        }

                        > .column {
                            &:nth-child(1) {
                                padding: 0 1rem 0.5rem;

                                @media #{$tablet} {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }

                    small {
                        font-size: 0.75rem;

                        @media #{$tablet} {
                            font-size: 1rem;
                        }
                    }
                }

                &:last-child {
                    border-radius: 0 0 $border-radius $border-radius;

                    > .column {
                        padding: 1rem;
                        border-radius: 0 0 $border-radius $border-radius;

                        @media #{$mobile-only} {
                            background-color: $primary;
                        }
                    }
                }
            }

            .ui.button.green {
                @include button(
                    $color: $white,
                    $invert: true,
                    $black-text: true,
                    $full-width: true
                );

                @media #{$tablet} {
                    @include button($color: $primary);

                    width: auto !important;
                }

                margin-top: 0;
            }
        }

        // AUTOPRICER
        > img[src*='subeta.net/artist/68097_icon_autopricer.gif'] {
            display: none;

            + .ui.basic.segment.left.aligned {
                display: $display_yourShops-autopricerIntro;
            }
        }
        #autoprice_form {
            border-radius: $border-radius;
            background-color: $white;

            > .ui.grid {
                &:first-child {
                    > .row {
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $grey-dark;

                        &:nth-child(2) {
                            display: none;
                        }

                        > .column {
                            height: $target;
                            color: $white;
                            font-size: 0 !important;
                            line-height: $target;

                            &:nth-child(1) {
                                @media #{$mobile-only} {
                                    display: none;
                                }
                            }

                            &:nth-child(2) :before {
                                @include icon('attach_money', $font-size: 1rem);
                            }

                            &:nth-child(3):before {
                                @include icon(
                                    'attach_money vertical_align_bottom',
                                    $font-size: 1rem
                                );
                            }

                            &:nth-child(4):before {
                                @include icon(
                                    'attach_money vertical_align_center',
                                    $font-size: 1rem
                                );
                            }

                            &:nth-child(5):before {
                                @include icon('block', $font-size: 1rem);
                            }
                        }
                    }
                }

                > .row {
                    > .column {
                        display: block;

                        &:nth-child(1) {
                            flex-basis: 100%;

                            @media #{$tablet} {
                                flex-basis: 28%;
                            }
                        }

                        &:nth-child(n + 2) {
                            flex-basis: 25%;
                            margin: 0;

                            @media #{$tablet} {
                                flex-basis: 18%;
                            }
                        }
                    }
                }
            }

            #autoprice_list {
                .autoprice-item {
                    margin: 0;
                    padding: 1rem 0;
                    border-bottom: 1px solid $grey-light;

                    .column {
                        padding: 0;

                        &:nth-child(1) {
                            padding: 0 1rem 0.5rem;
                        }

                        &:nth-child(n + 2) {
                            font-size: 0.75rem !important;

                            input[type='radio'] {
                                display: block;
                                margin: 0 auto;
                            }

                            span {
                                display: block;
                            }

                            br {
                                display: none;
                            }
                        }

                        &:nth-child(2) {
                            padding-top: 13px;
                        }
                    }
                }
            }
        }
        #autoprice_buttons {
            margin-top: 1rem;

            .button + .button {
                @media #{$mobile-only} {
                    margin-top: 1rem;
                }

                @media #{$tablet} {
                    margin-left: 1rem;
                }
            }
        }
        #autoprice_success {
            .button {
                @media #{$mobile-only} {
                    display: block;
                }
            }
        }
        .ui.green.progress {
            margin-top: 1rem;
        }

        // PROFITS
        > .row > .col-md-6 {
            margin-top: 1rem;
        }

        // SALES HISTORY
        > .alert.alert-info {
            margin-top: 1rem;

            + .ui.grid {
                border-radius: $border-radius;
                background-color: $white;

                > .row {
                    display: flex;
                    padding: 0.5rem 0;
                    border-bottom: 1px solid $grey-light;

                    @media #{$tablet} {
                        padding: 1rem 0;
                    }

                    &:nth-child(1) {
                        height: $target;
                        padding: 0;
                        border-radius: $border-radius $border-radius 0 0;
                        background-color: $grey-dark;
                        color: $white;
                        line-height: $target;
                    }

                    &:nth-child(n + 2) {
                        margin-top: 0;

                        .column {
                            &:nth-child(1) {
                                display: none;
                            }
                        }
                    }

                    .column {
                        @media #{$mobile-only} {
                            font-size: 0.75rem !important;
                        }

                        @media #{$tablet} {
                            padding: 0 1rem;
                        }

                        &:nth-last-child(-n + 2) {
                            @media #{$tablet} {
                                text-align: right;
                            }
                        }

                        &:nth-last-child(-n + 4) {
                            flex-basis: 25%;
                        }
                    }
                }
            }
        }

        // EDIT CATEGORIES
        > .card.m-3 {
            margin: 1rem 0 0 !important;

            form {
                @media #{$tablet} {
                    display: flex;
                }

                .form-group {
                    @media #{$tablet} {
                        flex-basis: calc((100% - 1rem) / 2);
                    }

                    .form-control[name='category'] {
                        @media #{$mobile-only} {
                            margin-bottom: 1rem;
                        }
                    }
                }

                input[value='Add Category'] {
                    @media #{$tablet} {
                        flex-basis: calc((100% - 1rem) / 2);
                        margin-left: 1rem;
                    }
                }
            }

            &.bg-light {
                form {
                    flex-direction: column;

                    .row {
                        align-items: center;
                        margin-bottom: 1rem;

                        .col-8 {
                            flex-basis: 50%;
                        }

                        .col-2 {
                            flex-basis: 25%;
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        // EDIT SHOP
        > .ui.form {
            margin-top: 1rem;

            .row {
                flex-wrap: wrap;

                .column {
                    flex-basis: 100%;
                    text-align: left;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}
