// TITLE STYLE
@mixin title-style {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem !important;
    line-height: 1 !important;
}

// FONT ICON
@mixin icon($icon-name, $font-size: 2rem, $color: inherit, $display: inline-block) {
    content: '#{$icon-name}' !important;
    display: $display;
    font-weight: normal;
    font-family: 'Material Icons';
    font-style: normal;
    font-size: $font-size;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

/******************************************************************************/

:root,
.column {
    font-size: 15px !important;
}

::selection {
    background-color: $primary;
    $color: $white;
}

html,
body,
font,
input {
    font-family: $font-family !important;
}

/******************************************************************************/

@for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
        @include title-style();

        + br {
            display: none;
        }
    }
}

@for $i from 1 through 4 {
    .display-#{$i} {
        @include title-style();
    }
}

/******************************************************************************/

a {
    &,
    &:link,
    &:active,
    &:visited {
        color: $primary;
    }

    @include hover {
        text-decoration: underline;
    }
}

p {
    &:only-child {
        margin-bottom: 0 !important;
    }

    & + & {
        margin-top: 1em;
    }
}

br + br,
br[clear='all'] {
    display: none;
}

hr {
    border-top-color: $grey-light;
}
