.card {
    max-width: $tablet-width;
    margin: 1rem auto 0 !important;
    border: 0;
    border-radius: $border-radius;
    font-size: 1rem;

    &-header,
    &-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: $target;
        border: 0;
        background-color: $dark-grey !important;
        color: $white;
    }

    &-header {
        padding: 0.5rem 1rem;

        &:first-child {
            border-radius: $border-radius $border-radius 0 0;
        }

        h2,
        h3 {
            margin-bottom: 0;
            font-size: 1rem !important;

            + p {
                display: none;
            }
        }

        h4 {
            margin-bottom: 0;
        }
    }

    &-footer {
        padding: 1rem;

        &:last-child {
            border-radius: 0 0 $border-radius $border-radius;
        }
    }

    &-body {
        padding: 1rem;
    }
}
