.form-row {
    @media #{$mobile} {
        > .col,
        > [class*='col-'] {
            padding: 0;
        }
    }
}

input:not([type='checkbox']):not([type='radio']):not([type='image']),
.form-control {
    @include form-field();
}

.input-group {
    &-addon {
        .form-control {
            height: auto !important;
            border: 0;
            background-color: transparent;
        }
    }
}

select:not([name*='_operator']) {
    @include form-select();
}

textarea {
    width: 100%;
    margin: 1rem 0 0;
    padding: 1rem;
    border: 1px solid $grey;
    border-radius: $border-radius;

    &,
    &.form-control {
        height: auto !important;
    }
}
