.nav {
    width: 100%;
    max-width: $tablet-width;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: $border-radius;
    background-color: $dark-grey;
    color: $white;

    &.justify-content-center {
        justify-content: start !important;
    }

    &,
    &-item {
        a {
            &,
            &.nav-link {
                display: block;
                padding: 0.5rem 1rem;
                color: $white;

                @include hover {
                    text-decoration: underline;
                }
            }

            &[href='/games/index.php'] {
                display: none;
            }
        }
    }

    &-item {
        &.bg-light {
            background-color: $accent !important;

            &:first-child {
                border-radius: $border-radius;
            }

            &,
            & a {
                color: $white;
            }
        }

        &.p-2 {
            padding: 0 !important;
        }

        br,
        img {
            display: none;
        }

        .nav-fill & {
            flex: 0 0 auto;
        }

        .nav-tabs & {
            margin-bottom: 0;

            .nav-link {
                border: 0;
                border-radius: 0;

                &.active {
                    border-radius: $border-radius;
                    background-color: $accent;
                    color: $white;
                }
            }
        }
    }
}
