.ui {
    &,
    &.grid,
    &.grid > div {
        font-size: 1rem !important;
    }

    &.header {
        max-width: $tablet-width;
        margin-left: auto;
        margin-right: auto;

        &.attached {
            height: $target;
            padding: 0 1rem;
            background-color: $dark-grey;
            color: $white;
            box-shadow: none;
            line-height: $target;

            &.top {
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }

    &.segment {
        max-width: $tablet-width;
        margin-left: auto;
        margin-right: auto;
        box-shadow: none;

        &.attached {
            top: 0;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            border-radius: $border-radius;
            box-shadow: none;

            .ui.message.attached + & {
                border-radius: 0 0 $border-radius $border-radius;
            }

            .ui.top.attached.header + & {
                border-top: 0;
                border-radius: 0;
            }
        }

        &.basic {
            padding: 0;
        }
    }

    &.menu {
        max-width: $tablet-width;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        border-radius: $border-radius;
        background-color: $dark-grey;
        color: $white;
        box-shadow: none;

        &.secondary {
            border-radius: $border-radius;
            background-color: $dark-grey;
            color: $white;

            &.pointing {
                border-bottom: 0;

                .header.item {
                    display: none;
                }

                > .item {
                    margin: 0;
                    padding: 0.5rem 1rem;
                    border-bottom: 0;
                }
            }
        }

        &.vertical {
            .item {
                @include hover {
                    text-decoration: none;
                }

                &:first-child,
                &:last-child {
                    border-radius: 0;
                }

                &:first-child {
                    padding: 1rem;
                }

                &.active {
                    color: $accent;
                    box-shadow: none;
                }

                &.category {
                    @include hover {
                        background-color: $accent;
                    }
                }

                > .category.header {
                    display: block;
                    margin: 0 -1rem;
                    padding: 0.5rem 1rem;

                    @include hover {
                        background-color: $accent;
                        text-decoration: none;
                    }
                }

                > .menu {
                    margin-top: 0;
                }
            }
        }

        &.tabular {
            margin: 1rem 0;
            border-bottom: 0;
            border-radius: $border-radius !important;
            background-color: $dark-grey;

            a.item {
                margin: 0 !important;
                border: none !important;
                color: $white !important;

                &.active {
                    font-weight: normal;
                }
            }
        }

        a.item {
            padding: 0.5rem 1rem;
        }

        .item {
            padding: 0 1rem;
            transition: none;

            &.active {
                border: 0 !important;
                border-radius: $border-radius !important;
                background-color: $accent !important;
                color: $white !important;
                box-shadow: none;
            }

            &,
            > a:not(.button) {
                color: $white;
                opacity: 1 !important;
                font-size: 1rem !important;
                line-height: 1.5;

                @include hover {
                    color: inherit !important;
                    text-decoration: underline;
                }
            }

            > i.icon {
                display: none;
            }

            &:before {
                display: none;
            }

            .item {
                color: $white;
            }
        }
    }

    &.grid {
        margin: 0 !important;

        > .column.wide[style*='min-height: 260px'] {
            margin-bottom: 1rem !important;
        }
    }

    &.grid.celled {
        margin: -1rem !important;
    }

    &.grid,
    &.grid.celled {
        display: flex !important;
        flex-wrap: wrap;

        & & {
            margin: 0 !important;
        }

        > .row {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 1rem 0;
        }

        .column {
            margin: 0;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            font-size: 1rem !important;
            box-shadow: none !important;
        }

        > .column.wide {
            &.two {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 25%;
                min-height: 0 !important;
                margin: 0;
                padding: 0.5rem 1rem !important;
                text-align: left !important;

                @media #{$tablet} {
                    width: 50%;
                    padding: 0;
                }

                @media #{$mobile} {
                    font-size: 0.75rem !important;

                    &:nth-child(n + 2) {
                        border-top: 1px solid $light-grey;
                    }
                }

                br,
                span {
                    display: none;
                }
            }

            &.four {
                @media #{$tablet} {
                    width: 50%;
                }
            }

            @media #{$mobile} {
                &.one,
                &.two,
                &.three,
                &.four,
                &.five,
                &.six,
                &.seven,
                &.eight,
                &.nine,
                &.ten,
                &.eleven,
                &.twelve {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    &.form {
        input {
            box-shadow: none !important;
        }

        .fields {
            > .field.wide {
                margin-bottom: 0;

                + .field.wide {
                    margin-top: 1rem;
                }

                @media #{$mobile} {
                    &.one,
                    &.two,
                    &.three,
                    &.four,
                    &.five,
                    &.six,
                    &.seven,
                    &.eight,
                    &.nine,
                    &.ten,
                    &.eleven,
                    &.twelve {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.progress {
        border: 1px solid $alert-green;

        &.warning,
        &.attached {
            .bar {
                background-color: $accent !important;
            }
        }

        .ui.attached.segment + & {
            margin-top: -3px;
        }
    }
}
