.table {
    border-radius: $border-radius;
    background-color: $white;

    th,
    td {
        &:first-child {
            text-align: left !important;
        }

        &:last-child {
            text-align: right !important;
        }
    }

    th {
        border-bottom: 0 !important;
        background-color: $accent;
        color: $white;

        &:first-child {
            border-radius: $border-radius 0 0 0;
        }

        &:last-child {
            border-radius: 0 $border-radius 0 0;
        }
    }
}

table[cellpadding='2'] td {
    padding: 0.5rem 0;
}
