#main-content {
    background-image: none;
    background-color: transparent;
}

#content {
    width: calc(100% - #{$sidebar-width} - #{$target});
    overflow-y: hidden;
    overflow-x: auto;
    margin-left: 0 !important;
    top: 3rem;
    left: $sidebar-width;
    padding: 1rem;
    background-color: transparent;

    @media #{$mobile} {
        top: calc(#{$target} * 2);
    }

    &[style*='margin-left: 0px'] {
        width: calc(100% - #{$target});
        left: 0;
    }

    #sidebar[style*='display:none;'] + & {
        width: calc(100% - #{$target});
        left: 0;
    }

    @media #{$mobile} {
        &,
        &[style*='margin-left: 0px'],
        #sidebar[style*='display:none;'] + & {
            left: 0;
            width: 100%;
            min-height: calc(25vh);
            padding-bottom: 2rem;
        }
    }
}
