// BUTTONS
.btn,
.ui.button,
a.awesome.blue.large,
input[type='submit'],
input[type='button'] {
    @include button();

    @media #{$mobile} {
        @include button($full-width: true);
        margin-top: 1rem;
    }

    &.disabled {
        opacity: 0.5 !important;
    }
}

// BORDERS
.border {
    border: 0 !important;

    &.rounded {
        border-radius: $border-radius !important;
    }
}

// JUMBOTRON
.jumbotron {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $dark-grey;
    color: $white;

    a {
        text-decoration: underline;
    }
}

// NEWS BANNERS
.new-news-announcement-banner {
    width: calc(100% - 2rem) !important;
    margin: 0 1rem 1rem !important;
    padding: 1rem !important;
    border: 0 !important;
    border-radius: $border-radius;
    background-color: $dark-grey !important;
    color: $white;
}

// ALERTS / MESSAGES
.alert,
.ui.message {
    width: 100%;
    max-width: $tablet-width;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1rem;
    border: 0;
    border-radius: $border-radius;
    background-color: $dark-grey;
    color: $white;
    line-height: 1.5;

    @media #{$mobile} {
        font-size: 0.75rem !important;
    }

    &.bg-light {
        background-color: $dark-grey !important;
    }
}
.alert,
.ui.message,
.ui.label {
    @include alert-colors();

    a {
        color: inherit;
        text-decoration: underline;

        .icon {
            text-decoration: none;
        }
    }
}
.ui.button,
.btn {
    @include alert-colors-hover();

    a {
        text-decoration: none;
    }
}

// MODALS
.modal {
    &-dialog {
        width: 50%;
        max-width: $tablet-width;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;

        @media #{$mobile} {
            width: calc(100% - 2rem);
        }

        .modal.show & {
            transform: translate(-50%, -50%);
        }
    }

    &-content {
        border: 0;
    }

    &-body .alert {
        margin-bottom: 0;
    }

    &-footer .btn {
        margin-top: 0;
    }
}

// PROGRESS BAR
.progress {
    background-color: $light-grey;

    .bg-success {
        background-color: $alert-green !important;
    }
}

// HUSTLER
.hustler {
    display: none;
}

// EVENTS
#event_listing {
    border-radius: $border-radius;

    h1 {
        display: none;

        + .p-1 {
            padding: 1rem !important;
            border-radius: $border-radius;
            background-color: $dark-grey;
            color: $white;

            + p {
                margin-top: 1rem;
            }
        }
    }

    h3 {
        margin: 1rem 0 0;
        padding: 1rem;
        border-radius: $border-radius $border-radius 0 0;
        background-color: $accent;
        color: $white;
        font-weight: bold;

        .btn-link {
            color: $white;
        }
    }

    hr {
        display: none;
    }

    .table {
        border-radius: 0 0 $border-radius $border-radius;

        tr {
            display: flex;
            flex-wrap: wrap;

            th {
                display: none;
            }

            td {
                border-top: 0;
                font-size: 0.75rem;

                &:nth-child(1) {
                    flex-basis: $target;
                    order: 2;
                }

                &:nth-child(2) {
                    flex-basis: 100%;
                    order: 1;
                    padding-bottom: 0;
                }

                &:nth-child(3) {
                    order: 3;
                    padding-left: 0;
                    text-align: left;
                }

                .btn-link {
                    color: $accent;
                }
            }

            &:nth-child(n + 2) {
                border-top: 1px solid $light-grey;
            }
        }
    }
}

// RANDOM EVENTS
#random_events {
    @media #{$mobile} {
        margin: 0 1rem -1rem;
    }

    .sp-sub {
        border: 0;
        background-color: $accent;
        color: $white;
    }
    tr + tr td {
        background-color: rgba($accent, 0.25);
    }
}

// ITEMS
.wl_item {
    box-sizing: content-box;
    width: auto;
    max-height: none;
    margin: 0;
    border: 2px solid $white;
    background-color: $white;
    text-align: center;

    @media #{$mobile} {
        box-sizing: border-box;
    }

    & + & {
        margin-left: 1rem;
    }

    &.wishlist {
        border-color: $alert-red;
        background-color: $alert-red;

        img {
            opacity: 0.5;
        }

        .wl_plus:after {
            content: 'remove' !important;
            background-color: $alert-red;
        }
    }

    &:hover .wl_plus {
        max-height: none !important;
        border-bottom: 0;
    }

    .wl_plus {
        max-height: none;
        top: 0;
        z-index: auto;
        background-color: transparent;

        &:after {
            @include font-icon('add');
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $alert-green;
            color: $white;
            font-size: 1rem;
            line-height: 1rem;
        }

        small {
            display: none;
        }
    }
}

// ITEMS - FLOATING
.floating_item {
    position: fixed !important;
    border: 10px solid $alert-red;
    border-radius: $border-radius;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
    background-color: $alert-red;

    img {
        padding: 0 !important;
        box-shadow: none !important;
    }
}

// ITEM - TOOLTIPS
.tpd-tooltip {
    @media #{$mobile} {
        display: none !important;
    }
}

// QUESTS
.col-md-3 .text-center[style='height: 135px;'] {
    br {
        display: none;
    }

    .scode-item-name {
        display: block;
        margin: 1rem 0;
        font-size: 0.75rem;
    }
}
form[action^='/quests.php/'] {
    display: inline-block;

    @media #{$mobile} {
        width: 100%;
    }

    + .ui.divider {
        display: none;
    }

    .btn.btn-lg.btn-success {
        margin: 0 0.5rem 0 0 !important;
    }
}

// ADBLOCK
#aswift_0_anchor,
#aswift_1_anchor,
#ad_show,
.create_ad,
.chitikaAdContainer,
a[href^='/ad_click.php?'],
a[href='/cashshop.php?act=gold'],
img[src*='img.subeta.net/ads/'],
img[src*='img.subeta.net/ads/'] + .holiday,
div[id*='_adbox_'] {
    display: none !important;
}
