#sidebar {
    width: $sidebar-width;
    padding-bottom: 0;
    position: fixed;
    top: $target;
    font-size: 1rem;
    background-image: none;
    background-color: $black;
    color: $white;

    @media #{$mobile} {
        display: none;
        position: fixed;
        width: 100%;
        top: calc(#{$target} * 2);
    }

    p {
        font-size: 1rem;
    }

    &-toggle-button {
        width: auto;
        height: 100%;
        border: 0;
        margin: 0;
        padding: 0 calc(1rem / 2);
        background-color: transparent;
        font-size: 0px;
        line-height: $target;

        @media #{$mobile} {
            height: $target;
        }

        &:before {
            @include font-icon('apps');
        }

        @include hover {
            background-color: transparent;
            color: $accent;
            box-shadow: none;
        }
    }

    &-top {
        height: $target;
        background-color: $dark-grey;
    }

    &-btn-dash,
    &-btn-events {
        width: 50%;
        height: 100%;
        margin: 0;
        line-height: $target;
        text-align: center;
        background-image: none;

        @include hover {
            cursor: pointer;
        }
    }

    &-btn-dash {
        &:before {
            content: 'dashboard';
        }

        &.sidebar-btn-active {
            border-radius: 0 $border-radius 0 0;
        }
    }

    &-btn-events {
        &:before {
            content: 'events';
            margin-left: -1rem;
        }

        &.sidebar-btn-active {
            border-radius: $border-radius 0 0 0;
        }
    }

    &-inner {
        direction: rtl;
        width: 100%;
        height: calc(100vh - #{$target} - #{$target});
        overflow-y: auto;
        padding: 1rem;
        padding-bottom: 2rem;
        background-image: none;

        @media #{$mobile} {
            height: calc(#{$mobile-vh} - (#{$target} * 3));
            padding-bottom: 1rem;
        }
    }
}

.sidebar {
    &-btn-active {
        background-color: $black;

        + #events-counter-wrapper {
            background-color: $dark-grey;
        }
    }

    &-widget {
        direction: ltr;
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
        border: 0;
        font-size: 1rem;

        &-arrow {
            width: $target !important;
            height: $target !important;
            top: 0 !important;
            right: 0 !important;
            background-image: none !important;
            background-color: $accent !important;
            color: $white !important;
            border-radius: 0 $border-radius 0 0;
            font-size: 0;
            text-align: center;

            @media #{$mobile} {
                display: none !important;
            }

            &:before {
                @include font-icon('keyboard_arrow_down');
            }

            &-closed:before {
                @include font-icon('keyboard_arrow_up');
            }
        }

        &-header,
        &-contents {
            border: 0 !important;
            color: $white !important;
        }

        &-header {
            display: flex;
            height: $target;
            padding: 0 1rem !important;
            line-height: $target !important;
            background-color: rgba($accent, 0.75) !important;
            border-radius: $border-radius $border-radius 0 0;

            @media #{$mobile} {
                pointer-events: none;
            }

            #sidebar-inner-events & {
                padding: 0;
            }

            .event-remove-cat {
                &:before {
                    @include font-icon('delete');
                }

                &.circular.icon {
                    margin-left: -0.5rem;
                    padding: 0 !important;
                    box-shadow: none;

                    @media #{$mobile} {
                        height: 100% !important;
                        pointer-events: auto;
                    }
                }
            }
        }

        &-contents {
            overflow-x: hidden;
            padding: 1rem;
            background-image: none;
            background-color: $dark-grey;
            border-radius: 0 0 $border-radius $border-radius;

            #sidebar-inner-events & {
                padding: 0.5rem;
            }

            a {
                color: $accent;
            }

            .sidebar-event .event-remove:before {
                @include font-icon('not_interested');
            }
        }

        &-sep {
            display: none;
        }

        .event-sep {
            width: calc(100% + 1rem) !important;
            margin: 0.5rem 0 0.5rem -0.5rem !important;
            background-color: $black !important;
        }

        .icon {
            width: auto;
            height: auto;
            margin-right: 0.5rem;

            &:before {
                font-size: 1.5rem;
                line-height: $target;
            }
        }

        form {
            display: flex;

            @media #{$mobile} {
                flex-wrap: wrap;
            }

            input {
                margin: 0 !important;

                @media #{$mobile} {
                    flex: 0 0 100%;
                    width: 100% !important;
                }

                &[type='text'] {
                    width: 60% !important;
                    border: 0;
                    border-radius: $border-radius 0 0 $border-radius;

                    @media #{$mobile} {
                        border-radius: $border-radius $border-radius 0 0;
                        padding: 0 0.5rem !important;
                    }
                }

                &[type='submit'] {
                    width: 40% !important;
                    border-radius: 0 $border-radius $border-radius 0;

                    @media #{$mobile} {
                        border-radius: 0 0 $border-radius $border-radius;
                    }
                }
            }
        }

        a[href*='?act=buffs'] {
            img {
                margin-right: 0.25rem;
                padding: 0.25rem !important;
                border-radius: 50% !important;
                background-color: $white;
                box-sizing: content-box;
            }
        }
    }

    &-widget,
    &-event {
        .holiday {
            display: block;
            border: 0 !important;
            border-radius: $border-radius;
            margin: 0.5rem 0;

            img,
            br,
            &:after,
            + br {
                display: none;
            }
        }
    }

    &-event {
        display: flex;
        align-items: center;
        font-size: 1rem !important;
        line-height: 1.25;
    }
}

#events-counter {
    font-size: 0.75rem;

    &-wrapper {
        width: calc(#{$target} * 0.6);
        height: calc(#{$target} * 0.6);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        background-color: $black;
        font-size: calc(#{$target} / 3);
        text-align: center;
        line-height: calc(#{$target} * 0.55);
    }
}
