#page {
    max-width: var(--content-width-max);
    width: 100%;
    margin: 0 auto !important;
    background-color: var(--white);
    box-shadow: var(--box-shadow--all);

    #postcards,
    #header {
        display: none;
    }

    #menu {
        display: flex;
        align-items: center;
        max-width: var(--content-width-max);
        height: var(--menu-height);
        margin: 0;
        position: fixed;
        background-color: var(--white);
        background-image: none;
        box-shadow: var(--box-shadow--down);
        z-index: 999;

        @media (max-device-width: 768px) {
            flex-wrap: wrap;
            background-color: var(--primary);
        }

        #menu-left,
        #menu-right {
            display: none;
        }

        #menu-logo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: var(--sidebar-width);
            height: 100%;
            padding: var(--spacing);
            padding-right: 1.75rem;
            top: 0;
            background-color: var(--primary);
            background-image: none;
            font-weight: bold;
            font-size: var(--font-size-title);
            text-align: right;
            text-transform: uppercase;
            letter-spacing: .125em;

            @media (max-device-width: 768px) {
                width: calc(var(--sidebar-width) - 2rem);
                height: 50%;
                padding: .5rem;
                padding-right: 1.5rem;
            }

            .menu-logo-txt {
                margin-top: 0;
                font-size: inherit;
                text-shadow: none;
            }
        }

        #menu-time {
            width: auto;
            height: auto;
            margin: 0;
            padding: var(--button-padding);
            border: 0;
            border-radius: var(--border-radius);
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(0, -50%);
            background-color: var(--primary-dark);
            font-size: inherit;
            line-height: 1;
            z-index: 10;

            @media (max-device-width: 768px) {
                margin-top: -1.5rem;
            }
        }

        #sidebar-toggle-button {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--item-size-small);
            height: var(--item-size-small);
            margin: 0 1rem 0 -1rem;
            border: 2px solid var(--primary);
            border-radius: 50%;
            background-color: var(--white);
            color: var(--primary-dark);
            font-size: 0;
            transition: var(--button-transition), transform .6s;
            z-index: 10;

            &:after {
                content: '\f0c9';
                font-size: var(--font-size-base);
            }

            &:hover {
                transform: rotate(-90deg);
                border-color: var(--primary-dark);
                background-color: var(--primary-dark);
                color: var(--white);
                box-shadow: none;
            }
        }

        #menu-ul {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: var(--spacing-x);
            padding: 0;
            background-color: var(--white);

            @media (max-device-width: 768px) {
                justify-content: space-between;
                width: 100%;
                height: 50%;
                padding: var(--spacing);
            }

            .menu-btn {
                display: flex;
                height: auto;
                margin: 0;
                background-image: none;

                @media (max-device-width: 768px) {
                    flex-grow: 1;
                }

                .menu-btn-left,
                .menu-btn-right {
                    display: none;
                }

                &#menu-btn-commerce-css .menu-tab:after {
                    content: '\f07a';
                }

                &#menu-btn-cs-css .menu-tab:after {
                    content: '\f521';
                }

                &#menu-btn-interact-css .menu-tab:after {
                    content: '\f086';
                }

                &#menu-btn-personal-css .menu-tab:after {
                    content: '\f007';
                }

                &#menu-btn-subeta-css .menu-tab:after {
                    content: '\f14e';
                }

                .menu-tab {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: .75em;
                    margin: 0;
                    padding: var(--button-padding);
                    border: 2px solid var(--button-bg);
                    border-radius: var(--button-radius);
                    font-family: inherit;
                    line-height: normal;
                    background-color: var(--button-bg);
                    font-weight: bold;
                    text-align: center;
                    text-transform: capitalize;
                    transition: var(--button-transition);

                    &:after {
                        width: 1rem;
                        height: 1rem;
                        font-size: 1rem;
                        text-align: center;
                    }

                    @media (max-device-width: 768px) {
                        display: block;
                        height: 2rem;
                        font-size: 0;
                        pointer-events: none;

                        &:after {
                            line-height: calc(2rem - 4px);
                        }
                    }

                    &:hover {
                        background-color: transparent;
                        color: var(--button-bg) !important;
                    }
                }
            }

            .menu-btn.pf-active > ul[role='menu'] {
                display: flex;
            }

            .menu-btn > ul[role='menu'],
            .menu-btn > ul[role='menu'] .menu-dropdown {
                flex-direction: column;
                width: calc(var(--sidebar-width) / 2) !important;
                padding: 0;
                border: 0;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow--all);

                li {
                    margin: 0 !important;
                    padding: 0;
                    text-align: left;

                    @media (min-device-width: 769px) {
                        &:first-child {
                            border-radius: var(--border-radius) var(--border-radius) 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 var(--border-radius) var(--border-radius);
                        }
                    }
                }

                a {
                    color: inherit;
                }
            }

            .menu-btn > ul[role='menu'] {
                top: 3em;
                right: 50%;
                transform: translate(50%, 0);
                background-color: color-mix(in srgb, var(--white), transparent);
                backdrop-filter: var(--backdrop-blur);

                @media (max-device-width: 768px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: calc(100vw / var(--mobile-zoom)) !important;
                    border-radius: 0;
                    position: fixed;
                    top: var(--menu-height);
                    left: 0;
                    right: 0;
                    transform: none;
                    box-shadow: inset var(--box-shadow--down), var(--box-shadow--down);
                }

                > li {
                    display: flex;
                    gap: .25em;
                    border-bottom: 1px solid color-mix(in srgb, var(--primary), var(--white));
                    color: var(--primary);
                    font-size: 0;
                    transition: background-color .2s;

                    @media (max-device-width: 768px) {
                        width: 50%;

                        &:nth-child(odd) {
                            border-right: 1px solid color-mix(in srgb, var(--primary), transparent);
                        }
                    }

                    &:hover {
                        background-color: color-mix(in srgb, var(--primary), transparent);
                        color: var(--white);
                        z-index: 200;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        gap: .5em;
                        width: 100%;
                        padding: .5rem 1rem !important;
                        font-size: var(--font-size-medium);
                        text-decoration: none;

                        @media (max-device-width: 768px) {
                            &[aria-haspopup='true'] {
                                &:after {
                                    display: none;
                                }
                            }
                        }

                        @media (min-device-width: 769px) {
                            &[aria-haspopup='true'] {
                                &:after {
                                    content: '\f101';
                                    font-size: .5em;
                                }
                            }
                        }
                    }
                }
            }

            .menu-btn > ul[role='menu'] .menu-dropdown {
                top: .5rem;
                left: calc(100% - .5rem);
                background-color: var(--primary);
                font-size: var(--font-size-medium);

                &#menu-sub-pets li,
                &#menu-sub-friends li {
                    display: flex;
                    align-items: center;
                    gap: .5em;
                }

                &#menu-sub-pets {
                    max-height: calc(var(--number-of-menu-pets, 10) * (100% + .06rem)) !important;

                    li {
                        font-weight: bold;

                        a {
                            font-weight: normal;
                        }
                    }
                }

                &#menu-sub-friends {
                    max-height: calc(var(--number-of-menu-friends, 10) * (100% + .06rem)) !important;

                    li {
                        font-size: 0;

                        a {
                            font-size: var(--font-size-medium);

                            &[href^='/comment.php'] {
                                display: none;
                            }
                        }
                    }
                }

                &#menu-sub-shops {
                    max-height: calc(var(--number-of-menu-shops, 10) * (100% + .06rem)) !important;
                }

                @media (max-device-width: 768px) {
                    display: none;
                }

                li {
                    padding: .5rem 1rem !important;
                    border-bottom: 1px solid var(--primary-light);
                    color: var(--primary-light);
                    font-size: inherit;
                }
            }
        }
    }

    #main-content {
        float: none;
        padding-top: var(--menu-height);
        background-image: none;
    }

    #sidebar {
        width: var(--sidebar-width);
        height: var(--sidebar-height);
        overflow-y: auto;
        padding: var(--spacing-x);
        position: fixed;
        background-color: var(--primary-dark);
        background-image: none;
        z-index: 998;
        scrollbar-width: none;

        @media (max-device-width: 768px) {
            display: none;
        }

        #sidebar-top {
            display: flex;
            align-items: center;
            gap: var(--spacing-x);
            height: auto;
            margin-bottom: var(--spacing-x);

            #sidebar-btn-dash,
            #sidebar-btn-events {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: .25em;
                width: auto;
                height: auto;
                padding: var(--button-padding);
                border-radius: var(--button-radius);
                background-color: var(--button-bg);
                background-image: none;
                color: var(--button-fg);
                font-size: var(--font-size-small);
                transition: var(--button-transition);
                cursor: pointer;

                &:hover,
                &.sidebar-btn-active {
                    background-color: var(--button-fg);
                    color: var(--button-bg);
                }

                &.sidebar-btn-active {
                    cursor: default;
                }
            }

            #sidebar-btn-dash {
                &:before {
                    content: 'Dashboard';
                }

                &:after {
                    content: '\f46c';
                }
            }

            #sidebar-btn-events {
                padding-right: .5rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &:before {
                    content: 'Events';
                }

                &:after {
                    content: '\f0f3';
                }

                &:hover + #events-counter-wrapper,
                &.sidebar-btn-active + #events-counter-wrapper {
                    background-color: var(--button-fg);
                    color: var(--button-bg);

                    #events-counter {
                        background-color: var(--button-bg);
                        color: var(--button-fg);
                    }
                }
            }

            #events-counter-wrapper {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                margin-left: -1rem;
                height: calc((var(--font-size-small) * 1.25) + (var(--button-padding-y) * 2));
                padding: 0;
                padding-right: .5em;
                border-radius: 0 var(--border-radius) var(--border-radius) 0;
                position: relative;
                top: 0;
                right: 0;
                font-size: var(--font-size-small);
                background-color: var(--button-bg);
                transition: var(--button-transition);

                #events-counter {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 1em;
                    height: 1em;
                    padding: .75em .45em;
                    border-radius: 1em;
                    background-color: var(--button-fg);
                    color: var(--button-bg);
                    font-size: var(--font-size-small);
                    line-height: normal;
                    transition: var(--button-transition);
                }
            }
        }

        #sidebar-inner {
            width: 100%;
            padding: 0;
            background-image: none;

            #sidebar-inner-dash,
            #sidebar-inner-events {
                font-size: inherit !important;
            }

            .sidebar-event {
                display: flex;
                gap: .5em;
                font-size: inherit !important;
                line-height: normal;

                &:nth-child(n + 2) {
                    margin-top: .75em;
                    padding-top: .75em;
                    border-top: 1px solid var(--primary);
                }

                small {
                    font-size: inherit;
                }
            }

            .event-remove-cat,
            .event-remove {
                flex-shrink: 0;
                width: 1em !important;
                height: 1em !important;
                opacity: 1;
                transition: opacity .2s;
                cursor: pointer;

                &:before {
                    display: none;
                }

                &:hover {
                    opacity: .5;
                }
            }

            .event-remove-cat {
                margin-right: .5em;
                padding: 0 !important;
                border-radius: 0 !important;
                box-shadow: none;
                pointer-events: all;

                &:after {
                    content: '\f2ed';
                }
            }

            .event-remove {
                margin-top: .25em;

                &:after {
                    content: '\f05e';
                }
            }

            .event-sep {
                display: None;
            }

            .sidebar-inner-active {
                display: flex !important;
                flex-direction: column;
                gap: var(--spacing-x);
            }

            .sidebar-widget {
                width: 100%;
                overflow: hidden;
                margin: 0;
                border: 0;
                border-radius: var(--border-radius);
                line-height: 1.5;
            }

            .sidebar-widget-header {
                display: flex;
                align-items: center;
                padding: .25rem .5rem;
                border: 0;
                background-color: var(--button-bg);
                color: var(--button-fg);
                font-weight: bold;
                pointer-events: none;
            }

            .sidebar-widget-arrow {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-left: auto;
                width: 1em;
                height: 1em;
                position: relative;
                top: 0;
                right: 0;
                background-image: none;
                color: var(--button-fg);
                transition: opacity .2s;
                pointer-events: all;

                &:after {
                    content: '\e4be';
                }

                &:hover {
                    opacity: .5;
                }
            }

            .sidebar-widget-sep {
                display: none;
            }

            .sidebar-widget-contents {
                padding: .5rem;
                border: 0;
                background-color: var(--primary-light);
                background-image: none;
                font-size: var(--font-size-small);

                .holiday.survival {
                    display: inline-flex;
                    align-items: center;
                    gap: .25em;
                    margin: 0;
                    padding: 0 .5em;

                    &:after {
                        position: relative;
                        top: 0;
                        right: auto;
                    }

                    img {
                        display: none;
                    }

                    .holiday-kiss {
                        padding: 0;
                    }
                }
            }

            .x-js-currency {
                .widget-currency-header {
                    display: var(--display-sidebar-currency-headers, block) !important;
                    margin-top: 0;
                    margin-bottom: .5rem;
                    padding-bottom: 0;
                    border-bottom: 0;
                    color: var(--primary);
                    line-height: normal;

                    &:nth-of-type(n + 2) {
                        margin-top: 1em;
                        margin-bottom: 0;

                        + .widget-currency-list {
                            margin-top: .5rem;
                        }
                    }
                }

                .widget-currency-list {
                    border-radius: 1em;
                    transition: padding .2s, background-color .2s;

                    &:hover {
                        padding: 0 .25em;
                        background-color: color-mix(in srgb, var(--primary) 25%, transparent);
                    }
                }

                a {
                    text-decoration: none;
                }
            }

            .x-js-login,
            .x-js-wardrobe,
            .x-js-widget-codacave,
            .x-js-widget-oracle {
                z-index: 1;

                .sidebar-widget-header {
                    display: none;
                }
            }

            .x-js-wardrobe + .x-js-login,
            .x-js-widget-codacave + .x-js-widget-oracle,
            .x-js-widget-oracle + .x-js-widget-codacave {
                margin-top: -2rem;
                z-index: 0;

                .sidebar-widget-contents {
                    padding-top: 1rem;
                }
            }

            .x-js-login {
                a[href='/preferences.php?act=buffs'] {
                    margin-right: .25em;

                    img {
                        border-radius: 50%;
                    }
                }
            }

            .x-js-nav {
                h3 {
                    margin-top: 0;
                    margin-bottom: .5em;
                    font-size: var(--font-size-base);

                    &:nth-of-type(n + 2) {
                        margin-top: 1em;
                    }
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .25em;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: .25em;
                    margin: 0;
                    line-height: 1;

                    &:nth-child(n + 2):before {
                        content: '|';
                    }
                }
            }

            .x-js-wardrobe {
                .sidebar-widget-contents {
                    height: auto;
                }

                img {
                    display: block;
                }
            }

            .x-js-widget-activepet,
            .x-js-widget-battlepet {
                .sidebar-widget-contents center {
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;

                    > a img {
                        width: var(--item-size-large) !important;
                        height: var(--item-size-large);
                        margin-top: 0 !important;
                        margin-bottom: .5em;
                        padding: .5em;
                        border-radius: var(--item-radius);
                        background-color: var(--white);
                    }
                }

                table {
                    width: 100%;
                    margin-top: .5em;
                    font-weight: normal;
                }

                tr {
                    display: flex;
                    justify-content: center;
                    gap: .5em;
                }

                table:last-child td {
                    width: auto;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2em;
                        height: 2em;
                        font-size: var(--font-size-base);
                    }

                    img {
                        display: none;
                    }
                }

                br {
                    display: none;
                }
            }

            .x-js-widget-activepet {
                td a {
                    &[href^='/pet.php?act=desc']:after {
                        content: '\f31c';
                    }

                    &[href^='/pet.php?act=battle']:after {
                        content: '\f0e7';
                    }

                    &[href^='/pet_treasure.php']:after {
                        content: '\f521';
                    }

                    &[href^='/pet.php?act=minion']:after {
                        content: '\f1b0';
                    }
                }
            }

            .x-js-widget-battlepet {
                table[style='font-size:.9em; padding:0px;'] {
                    font-size: inherit !important;
                }

                table:last-child {
                    display: var(--display-sidebar-battlepet-buttons, table);
                }


                td {
                    > font {
                        margin-top: .5em;
                        background-color: var(--white);
                    }

                    font {
                        display: inline-flex;
                        padding: .125em .5em;
                        border-radius: 1em;
                        font-size: inherit !important;

                        font {
                            margin: -.125em -.5em;
                            color: var(--white) !important;

                            &[style='color:green;'] {
                                background-color: var(--green);
                            }

                            &[style='color:red;'] {
                                background-color: var(--red);
                            }
                        }
                    }
                }

                td a {
                    &[href='/explore/train.php']:after {
                        content: '\f44b';
                    }

                    &[href='/games/battle/']:after {
                        content: '\f0e7';
                    }

                    &[href='/games/battle/armory.php']:after {
                        content: '\f3ed';
                    }

                    &[href='/games/battle/scrolls.php']:after {
                        content: '\f70e';
                    }
                }
            }

            .x-js-widget-codacave {
                center {
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    text-align: left;

                    img {
                        width: var(--item-size-small);
                        height: var(--item-size-small);
                        margin: 0 !important;
                    }

                    br {
                        display: none;
                    }
                }

                img[src$='gem_blackcrystal.gif'],
                img[src$='gem_blackcrystal.gif'] + br {
                    display: none;
                }
            }

            .x-js-widget-feed {
                .ui.feed {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    font-size: inherit;
                }

                .event {
                    margin: 0;
                    padding: 0;

                    &:nth-child(n + 2) {
                        margin-top: .75em;
                        padding-top: .75em;
                        border-top: 1px solid var(--primary);
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                }

                .summary {
                    color: var(--black);
                }

                .hover-user {
                    font-weight: bold;

                    img {
                        display: none;
                    }
                }

                b {
                    font-weight: normal;
                }

                .date {
                    padding-left: 0;
                    color: var(--black);
                    opacity: .5;
                }

                table.ui {
                    display: none;
                }
            }

            .x-js-widget-forumsub {
                .sidebar-widget-contents {
                    display: flex;
                    flex-direction: column;
                    font-size: 0;

                    a {
                        font-size: var(--font-size-small);

                        &:nth-child(n + 2) {
                            margin-top: .75em;
                            padding-top: .75em;
                            border-top: 1px solid var(--primary);
                        }
                    }

                    br {
                        display: none;
                    }
                }
            }

            .x-js-widget-mainshop {
                .sidebar-widget-contents {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .25em;
                    line-height: 1.25;

                    a {
                        display: flex;
                        align-items: center;
                        gap: .25em;
                    }

                    a:nth-child(n + 2):before {
                        content: '|';
                        color: var(--black);
                        pointer-events: none;
                    }

                    br {
                        display: none;
                    }
                }
            }

            .x-js-widget-notepad {
                #x-notepad-content + br {
                    display: none;
                }
            }

            .x-js-widget-oracle {
                .text-center {
                    text-align: left !important;
                }

                b {
                    display: flex;
                    align-items: center;
                    gap: .5em;

                    .wl_item {
                        width: var(--item-size-small);
                        height: var(--item-size-small);
                        border-color: var(--white);
                    }

                    .wl_item .wl,
                    br {
                        display: none;
                    }
                }
            }

            .x-js-widget-search,
            .x-js-widget-shopsearch {
                form {
                    display: flex;
                    gap: .5em;
                    margin: 0;
                    position: relative;
                }

                input[type='text'] {
                    width: 100% !important;
                    padding: var(--button-padding);
                    border: 0;
                    border-radius: var(--button-radius);
                    outline: 0;
                }
            }
        }
    }

    #content {
        @media (min-device-width: 769px) {
            transition: padding-left .8s;

            &,
            &[style*='margin-left: 176px;'] {
                margin-left: 0 !important;
                padding-top: var(--menu-height);
                padding-left: var(--sidebar-width);
            }

            &[style*='margin-left: 0'],
            &[style*='margin-left:0'] {
                padding-left: 0;
            }

            > .container-fluid {
                padding: var(--spacing-x);
            }
        }

        > .container-fluid {
            > center {
                > a[href^='/games/index.php'],
                > a[href^='/alert.php'] {
                    margin: .5rem;
                }

                > img:first-child {
                    padding: .5rem;
                    border-radius: var(--border-radius);
                    background-color: var(--white);
                }
            }
        }

        .push,
        footer:last-child {
            display: none;
        }
    }
}

#bookmarks {
    display: flex;
    align-items: center;
    gap: var(--spacing-x);
    max-width: calc(var(--content-width-max) - var(--sidebar-width));
    width: calc(100% - var(--sidebar-width));
    height: var(--menu-height);
    padding: 0 1rem;
    position: fixed;
    top: var(--menu-height);
    right: 50%;
    transform: translate(calc((100% + var(--sidebar-width)) / 2), 0);
    background-color: var(--white);
    font-style: normal;
    box-shadow: var(--box-shadow--down);
    z-index: 2;

    @media (max-device-width: 768px) {
        display: none;
    }

    .bookmark {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;

        p {
            margin-bottom: 0;
            font-size: inherit;
            writing-mode: horizontal-tb;
        }

        a {
            padding: var(--button-padding);
            border-radius: var(--button-radius);
            border: var(--border);
            background-color: var(--primary-light);
            color: var(--primary-dark);
            font-family: var(--font-family);
            font-size: inherit !important;
            font-weight: bold;
            transition: var(--button-transition);

            &:hover {
                border-color: var(--primary-dark);
                background-color: transparent;
                color: var(--primary-dark);
            }
        }

        &.first {
            padding-bottom: 0 !important;
        }
    }
}
