* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.25;
}

body {
    background-color: color-mix(in srgb, var(--black) 80%, var(--white));
    font-family: inherit;
    font-size: inherit !important;
    line-height: inherit;

    @media (max-device-width: 768px) {
        zoom: calc(100% * var(--mobile-zoom));
    }
}

/*====================================================================================================================*/

h1 {
    margin-bottom: var(--font-size-base);
    font-size: var(--font-size-title) !important;

    + br {
        display: none;
    }
}

h2,
h3,
h4 {
    font-size: var(--font-size-base);
    font-weight: bold;
}

a,
a:link,
a:active,
a:visited,
.btn-link,
.btn-link:hover {
    color: var(--primary);
}

center:empty {
    display: none;
}

ol,
ul {
    padding-inline-start: 1.25em;
}

p {
    &:last-child:not(:only-child) {
        margin-bottom: 0;
    }

    &:empty,
    &:empty + br {
        display: none;
    }
}

span {
    &[style*='color:green'],
    &[style*='color: green'] {
        color: var(--green) !important;
    }

    &[style*='color:red'],
    &[style*='color: red'] {
        color: var(--red) !important;
    }
}

input,
label,
select,
textarea {
    margin: 0;
    font-size: inherit !important;
}

input[type='checkbox'],
input[type='radio'],
select {
    cursor: pointer;
}