@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400, 400i, 600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/******************************************************************************/

@import 'theme-options';
@import 'scss/general/variables';
@import 'scss/general/mixins';
@import 'scss/general/typography';
@import 'scss/general/sizing';

html,
body {
    background-color: $grey-light;
    color: $black !important;
    font-size: 15px !important;
}

body {
    zoom: 300%;

    @media #{$tablet} {
        zoom: 100%;
    }
}

#page {
    width: 100%;
    min-height: $vh-mobile;
    margin: 0 !important;
    background-color: transparent;
}

.hustler,
footer,
.push {
    display: none;
}

/******************************************************************************/

@import 'scss/components/alert';
@import 'scss/components/bookmarks';
@import 'scss/components/button';
@import 'scss/components/card';
@import 'scss/components/content';
@import 'scss/components/form';
@import 'scss/components/image';
@import 'scss/components/item';
@import 'scss/components/menu';
@import 'scss/components/nav';
@import 'scss/components/pagination';
@import 'scss/components/progress';
@import 'scss/components/search';
@import 'scss/components/sidebar';
@import 'scss/components/table';
@import 'scss/components/ui';

/******************************************************************************/

::-webkit-scrollbar {
    width: 5px;
    background-color: $black;

    &-track {
        background-color: $grey-dark;
    }

    &-thumb {
        background-color: $primary;
    }
}

.border {
    border: 0 !important;
}

.border.rounded {
    border-radius: $border-radius !important;
}

/******************************************************************************/

.adsbygoogle,
.adsbygoogle ~ a[href='/cashshop.php?act=gold'] {
    display: none !important;
}

/******************************************************************************/

@import 'scss/pages/subeta/news';
@import 'scss/pages/subeta/games';
@import 'scss/pages/subeta/explore';
@import 'scss/pages/subeta/battle';
@import 'scss/pages/subeta/quests';
//@import 'scss/pages/subeta/tickets';
//@import 'scss/pages/subeta/subetapedia';
//@import 'scss/pages/subeta/search-subeta';

//@import 'scss/pages/interact/smail';
//@import 'scss/pages/interact/forums';
//@import 'scss/pages/interact/friend-feed';
//@import 'scss/pages/interact/suggestions';

@import 'scss/pages/commerce/shops';
//@import 'scss/pages/commerce/search-shops';
//@import 'scss/pages/commerce/trades';
@import 'scss/pages/commerce/your-shops';
//@import 'scss/pages/commerce/cash-shop';

@import 'scss/pages/personal/inventory';
@import 'scss/pages/personal/pets';
//@import 'scss/pages/personal/friends';
@import 'scss/pages/personal/vaults';
@import 'scss/pages/personal/achievements';
@import 'scss/pages/personal/comments';
@import 'scss/pages/personal/wishlist';
@import 'scss/pages/personal/dashboard';
//@import 'scss/pages/personal/referrals';
