// MAIN PAGE
.card {
    .forum-collapse-header {
        .card-title {
            display: flex;
            flex-basis: 100%;

            .forum-collapse-button {
                margin-left: auto;
            }
        }
    }

    .forum-collapse-body {
        padding: 0;

        .col-12.col-sm-6.p-3 {
            flex-basis: calc((100% - 1rem) / 2);
            margin: 0;
            padding: 1rem !important;

            @media #{$tablet} {
                flex-basis: 100%;
            }

            &:nth-child(even) {
                margin-left: auto;

                @media #{$tablet} {
                    margin-left: 0;
                }
            }

            &:nth-child(n + 3) {
                margin-top: 1rem;

                @media #{$tablet} {
                    margin-top: 0;
                }
            }

            &:nth-child(n + 2) {
                @media #{$tablet} {
                    border-top: 1px solid $grey-light;
                }
            }

            .media {
                align-items: center;

                img {
                    max-width: $img;
                    height: auto;
                    margin-left: 0 !important;

                    @media #{$mobile-only} {
                        display: none;
                    }
                }

                &-body {
                    h3 a {
                        color: $black;
                        font-weight: bold;
                    }

                    @media #{$mobile-only} {
                        font-size: 0;

                        i,
                        a {
                            font-size: 0.75rem;
                        }

                        i {
                            margin-right: 0.5rem;
                        }

                        a + a:before {
                            content: ',';
                            padding-right: 0.25rem;
                        }

                        .hover-user {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// SUBFORUMS
#forum-top {
    nav {
        padding: 0 !important;

        .breadcrumb {
            margin-bottom: 1rem !important;
            border-radius: $border-radius;
            background-color: $grey-dark;
        }
    }

    + .row {
        margin-bottom: 1rem;

        .col-12.col-sm-6.col-md-4.col-lg-3.p-3 {
            flex-basis: 100%;
            padding: 0 !important;

            .border.rounded.p-3 {
                display: flex;
                align-items: center;
                background-color: $white;

                strong {
                    margin-right: 1rem;
                }

                p {
                    display: none;
                }
            }
        }
    }

    + .row + br + br + center + p + .ui.message {
        display: flex;
        align-items: center;

        button {
            width: auto;
            height: auto;
            margin-left: auto;
            padding: 0 !important;
            color: $white !important;
            line-height: normal;

            @include hover {
                background-color: transparent !important;
                text-decoration: underline !important;
            }
        }
    }
}
.forum-threads-list {
    background-color: transparent;

    thead {
        background-color: transparent !important;

        @media #{$mobile-only} {
            display: none;
        }

        th {
            border: 0;
        }
    }

    tbody {
        tr {
            background-color: $white !important;

            @media #{$mobile-only} {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                td:nth-child(1) {
                    flex-basis: 100%;
                    padding-bottom: 0;
                }

                td:nth-child(2) {
                    display: none;
                }

                td:nth-child(3) {
                    flex-basis: 25%;
                    padding-right: 0;
                    padding-top: 0.5rem !important;
                    padding-bottom: 1rem;
                    font-size: 0.75rem;
                }

                td:nth-child(4) {
                    flex-basis: 75%;
                    margin-left: auto;
                    padding-left: 0;
                    padding-top: 0.5rem !important;
                    padding-bottom: 1rem;
                    font-size: 0.75rem;

                    a.hover-user + a {
                        display: inline;

                        small {
                            font-size: 0.75rem;
                        }
                    }
                }
            }

            &:nth-child(n + 2) {
                border-top: 1px solid $grey-light;
            }

            td {
                padding-top: 1rem !important;
                border: 0;
                font-size: 1rem !important;

                a.hover-user {
                    font-size: 0.75rem !important;

                    + a {
                        display: block;
                    }
                }
            }
        }
    }
}

// TOPIC - TOP
#forum-top + #result_top {
    + .row.p-3 {
        padding: 0 !important;

        .border.rounded {
            background-color: $white;
        }
    }
}

// TOPIC - POSTS
#posts {
    .post-container {
        padding: 0;

        &:nth-last-child(n + 2) .post-body {
            margin-bottom: 1rem !important;
        }

        .ui.top.attached.segment.inverted.posted {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0.5rem 1rem !important;
            bottom: 0;

            &.red {
                @include alert-color($alert-red);
            }

            &.tertiary {
                background-color: $grey-dark !important;
            }

            > span.ui {
                left: 0;
                line-height: normal;
                @media #{$mobile-only} {
                    font-size: 0.75rem !important;
                }
            }

            > span[style*='float: right'] {
                display: flex;
                align-items: center;
                margin-left: auto;

                a {
                    color: inherit !important;

                    &:nth-child(n + 2) {
                        margin-left: 0.5rem;
                    }

                    i {
                        width: auto;
                        height: auto;
                        margin: 0;
                        padding: 0 !important;
                        opacity: 1;
                    }
                }
            }
        }

        .ui.attached.segment.post {
            padding: 0 !important;
            background-color: $grey-light !important;

            .ui.grid {
                > .column.wide {
                    flex-basis: 100%;
                    margin: 0;

                    &.three {
                        .user.details {
                            display: grid;
                            grid-template-areas:
                                'user-avi user-name user-actions'
                                'user-avi user-title user-actions';
                            grid-template-columns: 4rem auto 4rem;
                            align-items: center;
                            padding: 1rem !important;
                            border-bottom: 1px solid $grey-light;
                            border-radius: 0;
                            box-shadow: none !important;

                            br,
                            .icon.star {
                                display: none;
                            }

                            .hover-user,
                            .user.title {
                                padding: 0 1rem;
                                text-align: left;
                            }

                            .hover-user {
                                grid-area: user-name;
                            }

                            .user.title {
                                grid-area: user-title;
                            }

                            > .text_center {
                                grid-area: user-avi;
                                width: 4rem;
                                height: 4rem;
                                overflow: hidden;
                                border-radius: 50%;
                                background-color: $grey-light;

                                @media #{$mobile-only} {
                                    width: calc(#{$img-mob} * 2);
                                    height: calc(#{$img-mob} * 2);
                                }
                            }

                            .stats {
                                grid-area: user-actions;
                                display: flex;
                                flex-direction: column;

                                .ui.label {
                                    width: 4rem !important;
                                    margin-bottom: 0 !important;
                                    padding: 0 !important;
                                    border-radius: $border-radius;
                                    background-color: $primary !important;
                                    font-size: 0 !important;

                                    + .ui.label {
                                        margin-top: 0.5rem !important;
                                    }

                                    a {
                                        &:after {
                                            color: $white;
                                            font-size: 1.25rem !important;
                                        }

                                        .icon.heart {
                                            margin-right: 0.25rem;
                                            transform: translate(0, -0.25rem);
                                            opacity: 1;
                                            color: $white;
                                            font-size: 1rem !important;
                                        }
                                    }

                                    &:nth-child(1) {
                                        a:after {
                                            @include icon('face');
                                        }
                                    }

                                    &:nth-child(2) {
                                        a:after {
                                            @include icon('ballot');
                                        }

                                        span {
                                            display: none;
                                        }
                                    }
                                }

                                + div {
                                    display: none;
                                }
                            }
                        }

                        & + .post-body {
                            padding: 1rem !important;
                            border-radius: 0 0 $border-radius $border-radius;
                            background-color: $white;

                            .post-editable {
                                @media #{$mobile-only} {
                                    font-size: 0.75rem;
                                }

                                img {
                                    max-width: 100%;
                                    padding: 0;
                                    border-radius: 0;
                                }
                            }

                            .ui.divider,
                            .forum-image,
                            .forum-image-tb,
                            .forum_signature {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // REPLY
    + .row.p-3 {
        display: none;

        + center {
            margin-top: 1rem;

            .pagination {
                margin-bottom: 290px;

                @media #{$mobile-only} {
                    margin-bottom: 160px;
                }
            }

            + .card.bg-light.m-3 {
                position: fixed;
                bottom: 0;
                left: $sidebar;
                width: calc(100% - #{$sidebar} - #{$target});
                border-radius: 0;
                z-index: 999;
                background-color: $grey-dark !important;

                @media #{$mobile-only} {
                    left: 0;
                    width: 100%;
                }

                .card-body .row {
                    .col-8 #reply {
                        .formatting {
                            margin-bottom: 1rem;
                            padding: 0;
                            font-size: 0;

                            @media #{$mobile-only} {
                                display: none;
                            }

                            .button {
                                margin: 0;
                                padding: 0.5rem;
                                border: 0;
                                border-radius: $border-radius;
                                background-color: $white;
                                font-size: 1rem;

                                + .button {
                                    margin-left: 1rem;
                                }
                            }
                        }

                        #post_reply_body {
                            height: 12em !important;
                            border: 0;
                            border-radius: $border-radius $border-radius 0 0;
                            font-size: 1rem !important;

                            @media #{$mobile-only} {
                                height: 8em !important;
                                border-radius: $border-radius;
                                font-size: 0.75rem !important;
                            }
                        }

                        #counter {
                            display: block;
                            padding: 0.5em 1em;
                            border-radius: 0 0 $border-radius $border-radius;
                            opacity: 0.75;
                            background-color: $white;
                            color: $grey-dark !important;
                            font-size: 0.75rem;

                            @media #{$mobile-only} {
                                display: none;
                            }
                        }
                    }

                    .column.wide.four {
                        position: absolute;
                        right: 1rem;

                        @media #{$mobile-only} {
                            position: relative;
                            right: 0;
                            width: 100%;
                        }

                        .inline.field {
                            display: none;
                        }

                        p {
                            display: flex;

                            .btn {
                                height: auto;
                                padding: 0.5rem !important;
                                line-height: 1.5;

                                @media #{$mobile-only} {
                                    width: calc((100% - 1rem) / 2);
                                }

                                + .btn {
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
