html {
    --content-width: var(--breakpoint-xl);

    font-family: var(--body-font-family);
    font-size: 16px;
    line-height: normal;

    @media (max-device-width: 768px) {
        --content-width: calc(100% - 2rem);
    }
}

body {
    background-color: var(--body-bg-color, #eee);
    background-image: var(--body-bg-image, none);
    background-repeat: var(--body-bg-repeat);
    background-size: var(--body-bg-size);

    @media (max-device-width: 768px) {
        zoom: 300%;
    }

    &::after {
        content: 'Profile by Hongske';
        display: block;
        margin: var(--overall-spacing, 1rem) 0;
        font-size: var(--body-font-size);
        text-align: center;
    }
}

body,
input, textarea, select,
#navigation {
    color: var(--font-color, #000);
    font-family: inherit;
    font-size: inherit;
}

button, input, label, select {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

#navigation,
#toolbox,
#overall {
    max-width: var(--content-width);
}

#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--navigation-spacing, .5rem);
    border: 0;
    border-radius: 0 0 var(--navigation-radius, var(--overall-radius)) var(--navigation-radius, var(--overall-radius));
    margin: 0 auto;
    padding: var(--navigation-padding, .5rem);
    background-color: var(--navigation-bg-color, #000);
    background-image: var(--navigation-bg-image, none);
    background-repeat: var(--navigation-bg-repeat, no-repeat);
    color: var(--navigation-fg-color, white);
    font-size: 0;
    font-weight: normal;
    letter-spacing: 0;

    a {
        color: inherit;
        font-size: var(--navigation-font-size, var(--body-font-size, .75rem));
    }
}

#toolbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--toolbox-spacing, var(--block_content-spacing, .5rem));
    border: 0;
    border-radius: var(--overall-radius);
    width: 100%;
    margin: var(--overall-spacing, 1rem);
    padding: var(--overall-spacing, 1rem);
    background-color: var(--toolbox-bg-color, color-mix(in srgb, white, transparent));
    background-image: none;

    b, p {
        width: 100%;
    }

    button, input[type='submit'] {
        border: 0;
        border-radius: var(--button-radius);
        padding: var(--button-padding);
        background-color: var(--button-bg-color);
        color: var(--button-fg-color);
        line-height: var(--button-line-height);
    }

    br {
        display: none;
    }

    #new-content {
        label {
            margin-left: .25em;
        }
    }
}

#overall {
    display: flex;
    flex-wrap: wrap;
    gap: var(--overall-spacing, 1rem);
    border-radius: var(--overall-radius);
    margin: 0 auto;
    padding: var(--overall-padding, 1rem);
}

.div_float {
    float: none;
    flex-basis: 0;
    flex-grow: 1;
    width: auto;
}

ul.column {
    display: flex;
    flex-direction: column;
    gap: var(--column-spacing, 1rem);
    padding: 0;
    width: 100%;

    li {
        margin: 0;
    }
}

.block {
    border: 0;
    border-radius: var(--block-radius, .25rem);
    background-color: var(--block-bg-color, #fff);
    background-image: var(--block-bg-image, none);
    background-repeat: var(--block-bg-repeat);
    background-size: var(--block-bg-size);
    font-size: var(--block-font-size, var(--body-font-size, .75rem));
    box-shadow: var(--block-shadow, none);

    .header {
        border: 0;
        padding: var(--block_head-padding, .5rem);
        height: auto;
        background-color: var(--block_head-bg-color, #222);
        background-image: var(--block_head-bg-image, none);
        background-repeat: var(--block_head-bg-repeat);
        background-size: var(--block_head-bg-size);
        color: var(--block_head-fg-color, #fff);
        font-size: var(--block_head-font-size, inherit);
        letter-spacing: 0;
        line-height: 1;
    }

    .info_block {
        display: block;
        gap: var(--block_content-spacing, .5rem);
        padding: var(--block_content-padding, .5rem);
        background-color: var(--block_content-bg-color, transparent);
        background-image: var(--block_content-bg-image, none);
        background-repeat: var(--block_content-bg-repeat);
        background-size: var(--block_content-bg-size);

        tbody {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            gap: var(--block_content-spacing, .5rem);
            width: 100%;

            tr {
                display: flex;
                gap: var(--block_content-spacing, .5rem);
                width: 100%;

                &:empty {
                    display: none;
                }
            }

            td {
                flex-basis: 0;
                flex-grow: 1;
            }
        }

        a {
            color: var(--link-fg-color, #666);
        }
    }
}

#all_comments a {
    &, &:link,
    &:hover, &:focus {
        color: var(--link-fg-color, #666);
    }
}

#content_comment {
    form {
        display: flex;
        flex-direction: column;
        gap: var(--block_content-spacing, .5rem);
    }

    textarea, input {
        width: 100% !important;
    }

    br {
        display: none;
    }
}

#content_medals {
    .data {
        padding: 0 !important;
    }
}

#content_options {
    .user-options {
        display: flex;
        justify-content: center;
        gap: var(--block_content-spacing, .5rem);
    }

    .user-options img, input[type='image'] {
        max-width: 100%;
        padding: 0;
    }
}

#content_pets {
    .avatar_head {
        margin: 0;
        cursor: pointer;
    }
}