#achievement-debug + center {
    display: none;

    + p + .row {
        // NAV
        > .col-md-3.col-lg-2 {
            flex-basis: 100%;

            @media #{$tablet} {
                flex-basis: calc(100% / 3);
            }

            @media #{$desktop} {
                flex-basis: 25%;
            }

            .ui.vertical.menu.fluid > .item {
                // SEARCH
                &:first-child {
                    flex-basis: 100%;
                    .ui.input.mini.icon {
                        display: block;

                        input[type='text'] {
                            padding-left: 1.5rem !important;
                        }
                    }
                }

                // TOP 3 CATEGORIES
                &.category.header {
                    background-color: $primary;
                    color: $white;
                    text-align: center;

                    @include hover {
                        background-color: $white;
                        color: $primary !important;
                        text-decoration: none;
                    }

                    @media #{$mobile-only} {
                        font-size: 0 !important;
                    }

                    &:before {
                        width: auto;
                        height: auto;
                        position: relative;
                        background-image: none;

                        @media #{$tablet} {
                            margin-bottom: 1rem;
                        }
                    }

                    &:nth-child(2):before {
                        @include icon('new_releases', $font-size: 1.5rem, $display: block);
                    }

                    &:nth-child(3):before {
                        @include icon('save', $font-size: 1.5rem, $display: block);
                    }

                    &:nth-child(4):before {
                        @include icon('check_circle', $font-size: 1.5rem, $display: block);
                    }

                    &.active {
                        background-color: $white;
                        color: $primary !important;
                    }
                }

                // OTHER CATEGORIES
                &:nth-child(n + 5) {
                    color: $white;

                    @include hover {
                        text-decoration: none;
                    }

                    @media #{$tablet} {
                        flex-basis: 100%;
                    }

                    &:before {
                        display: none;
                    }

                    a {
                        color: inherit;
                        font-size: 1rem !important;

                        strong {
                            @media #{$mobile-only} {
                                font-weight: normal;
                            }
                        }
                    }

                    .menu {
                        @media #{$mobile-only} {
                            display: none;
                        }
                    }
                }
            }
        }

        // CONTENT
        > .col-md-9.col-lg-10 {
            @media #{$mobile-only} {
                margin-top: 1rem;
            }

            @media #{$tablet-only} {
                flex-basis: calc(100% / 3 * 2);
                padding-left: 1rem;
            }

            @media #{$desktop} {
                flex-basis: calc(75% - 1rem);
            }

            #achievementList {
                border-radius: $border-radius;

                p:empty {
                    display: none;
                }

                #achievement-options {
                    padding: 1rem 0;
                    border-radius: $border-radius $border-radius 0 0;
                    background-color: $grey-dark;
                    color: $white;

                    .ui.text.menu.sort.options {
                        margin: 0;

                        .item {
                            margin: 0;
                            padding: 0 1rem !important;
                            opacity: 1;

                            &.header {
                                display: none;
                            }
                        }
                    }
                }

                .achievement-paging {
                    .pagination {
                        width: calc(100% - 2rem);
                        margin: 0 1rem;

                        .page-item:not(:only-child) {
                            margin: 1rem 0;
                        }
                    }
                }

                .achievement {
                    margin: 0;
                    padding: 1rem 1rem 0;
                    border-radius: 0;
                    background-color: transparent;

                    &:nth-child(n + 2) {
                        border-top: 1px solid $grey-light;
                    }

                    &.completed {
                        background-color: transparent !important;

                        .title {
                            color: $alert-green !important;
                        }
                    }

                    > .ui.grid > .column.wide {
                        &:nth-child(1) {
                            position: absolute;
                        }

                        &:nth-child(2) {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin: 0;
                            padding: 0;

                            > a {
                                flex-basis: 100%;
                                color: transparent;

                                .title {
                                    display: flex;
                                    align-items: center;
                                    margin-left: calc(#{$item-mob} + 1rem);
                                    line-height: $item-mob !important;
                                    color: $alert-red;

                                    @media #{$tablet} {
                                        margin-left: calc(#{$item} + 1rem);
                                        line-height: $item !important;
                                    }

                                    input[type='checkbox'] {
                                        margin-left: auto;
                                    }
                                }
                            }

                            > a + p {
                                flex-basis: 100%;
                                margin-bottom: 1rem;
                                font-style: normal;

                                @media #{$mobile-only} {
                                    font-size: 0.75rem;
                                }
                            }

                            > .ui.small.labels {
                                .label {
                                    height: $target;
                                    margin: 0 1rem 1rem 0 !important;
                                    padding: 0 1rem;
                                    line-height: $target;
                                }
                            }

                            > .required-items {
                                > .button {
                                    margin-bottom: 1rem;
                                }

                                > p {
                                    display: none;
                                }

                                > .ui.grid {
                                    margin-top: 1rem;

                                    > .column {
                                        min-height: 0 !important;
                                        background-color: transparent !important;
                                        color: $alert-red;

                                        &.completed {
                                            color: $alert-green;
                                        }

                                        p {
                                            &:nth-of-type(1) {
                                                display: none;
                                            }

                                            &:nth-of-type(2) {
                                                margin-top: 0;
                                                margin-left: auto;

                                                a {
                                                    color: $alert-red;
                                                    font-size: 0;

                                                    &:before {
                                                        @include icon('store', $font-size: 1rem);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            > .prizes {
                                flex-basis: 100%;
                                height: auto;

                                &:not(:empty) {
                                    margin-bottom: 1rem;
                                }

                                > .column {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
