.comments {
    .card {
        margin: 1rem 0 !important;

        &-header {
            .author a {
                margin-right: 0.25rem;
                color: $white;
                font-weight: bold;
            }
        }

        &-footer {
            padding: 0 1rem 1rem !important;
            background-color: $white !important;

            .btn {
                &-outline-primary {
                    @include button($color: $primary, $invert: true);
                    margin-right: 1rem;
                }

                &-outline-secondary {
                    @include button($color: $black, $invert: true);
                    margin-right: 1rem;
                }

                &-outline-danger {
                    @include button($color: $alert-red, $invert: true);
                }
            }
        }

        &-body {
            > .row {
                display: block;

                .col-1 {
                    float: left;
                    width: auto;
                    margin-right: 1rem;

                    @media #{$mobile-only} {
                        display: none;
                    }
                }

                .col-10 {
                    .pb-3 {
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
    }

    .reply-popup {
        .card-header {
            background-color: $primary !important;
        }

        textarea.form-control {
            height: auto !important;
        }

        .btn {
            margin-top: 1rem;
            margin-right: 1rem;
        }
    }
}
