#pref_wrapper {
    #pref_menu {
        // TODO: INSERT LINK HIDERS
        // HIDE THEMES ANYWAY
    }

    #pref_body {
        h1.text-center {
            display: none;
        }

        .prefscontent {
            margin-top: 1rem;

            center {
                text-align: left;
            }

            // CUSTOM CSS
            form[method='post'] {
                margin-top: 1rem;

                textarea[name='update'][style^='width:80%;'],
                textarea[name='update'][style^='width: 80%;'] {
                    width: 100% !important;
                }

                input[type='submit'][value='Update CustomCSS'] {
                    width: 100% !important;
                    margin-top: 1rem;
                }
            }

            // PROFILE
            input[type='hidden'][value='profile_do'] + b + p {
                margin-top: 1rem;

                + table[width='75%'] {
                    width: 100% !important;
                    margin-bottom: 1rem;

                    td[colspan='2'] {
                        width: 100%;
                    }

                    tr:nth-child(2) td center {
                        display: flex;
                        align-items: center;

                        input[type='text'][name='email'] {
                            margin-left: 1rem;
                        }
                    }

                    tr:nth-child(3) td {
                        background-color: transparent;

                        center {
                            text-align: right;
                        }
                    }
                }

                ~ center input[type='submit'][value='Submit your Profile'] {
                    margin-top: 1rem;
                }
            }

            // PASSWORD
            form[method='post'][action='preferences.php'] center {
                input[type='password'] {
                    margin-left: 1rem;

                    &,
                    & ~ input[type='submit'] {
                        margin-top: 1rem;
                    }
                }
            }

            // PIN
            img[src$='security.gif'] {
                display: block;
                margin: 0 auto;

                + form[method='post'] > table {
                    // TODO: FIGURE OUT TABLE WIDTH ISSUE
                    width: 100% !important;
                }
            }
        }
    }
}
