#pet_list {
    margin-top: 1rem;
    > .col-12 {
        margin: 0 0 1rem;
        padding: 1rem !important;
        border-radius: $border-radius;
        background-color: $white;

        &:only-child {
            flex-basis: 50%;
            margin: 0 auto;
        }

        &:nth-last-child(n + 2),
        &:nth-last-child(n + 2) ~ .col-12 {
            flex-basis: calc((100% - 1rem) / 2);
        }

        &:nth-last-child(n + 3),
        &:nth-last-child(n + 3) ~ .col-12 {
            flex-basis: calc((100% - 2rem) / 3);
        }

        @media #{$mobile} {
            flex-basis: 100% !important;
        }

        &:nth-child(n + 2) {
            margin-left: 1rem;

            @media #{$mobile} {
                margin-left: 0;
            }
        }

        .icon.star,
        .fa-star {
            &:before {
                color: $alert-yellow;
            }
        }

        .icon.heart {
            &:before {
                color: $alert-red;
            }
        }

        > .row {
            // NAME + GENDER + COLOUR + SPECIES
            &:nth-child(1) {
                font-size: 0.75rem;
            }

            // IMAGE + ACTIVE? + BIRTHDAY + OPTIONS + STATUS + STATS + RESORT
            &:nth-child(2) {
                > .col-12 {
                    flex-basis: 100%;
                    padding: 0 !important;

                    // IMAGE + ACTIVE? + BIRTHDAY
                    &:nth-child(1) {
                        display: flex;
                        flex-direction: column;

                        > .border.rounded.p-3.mb-3 {
                            margin: 0 !important;
                            padding: 0 !important;

                            // IMAGE + ACTIVE?
                            &:nth-child(1) {
                                padding: 1rem 0 !important;

                                img {
                                    padding: 0;
                                }

                                a {
                                    color: $black;
                                }
                            }

                            // BIRTHDAY
                            &:nth-child(2):before {
                                @include font-icon('cake');
                                margin-right: 0.45em;
                                transform: translate(0, 2px);
                                color: rgba($black, 0.5);
                                font-size: 1rem;
                            }
                        }
                    }

                    // OPTIONS + STATUS + STATS + RESORT
                    &:nth-child(2) {
                        margin-top: 0;

                        .pet_information {
                            display: flex;
                            flex-direction: column;
                            padding: 0 !important;

                            // OPTIONS
                            > div:nth-child(1) {
                                order: 2;
                                margin-top: 1rem;
                                text-align: left !important;

                                .pet-options {
                                    padding: 1rem;
                                    border-radius: $border-radius;
                                    background-color: $accent;
                                    color: $white;

                                    .pet-dropdown-toggle {
                                        display: block;

                                        &:hover {
                                            cursor: pointer;
                                        }

                                        &:before {
                                            @include font-icon('settings');
                                            margin-right: 0.55em;
                                            transform: translate(0, 2px);
                                            font-size: 1rem;
                                        }

                                        &:after {
                                            content: 'Options';
                                            font-weight: bold;
                                            text-transform: uppercase;
                                        }

                                        .fa-angle-down {
                                            display: none;
                                        }
                                    }

                                    .dropdown-menu {
                                        display: block;
                                        min-width: 0;
                                        height: auto;
                                        overflow: hidden;
                                        max-height: 0;
                                        margin: 0;
                                        padding: 0;
                                        border: 0;
                                        border-radius: 0 0 $border-radius $border-radius;
                                        position: relative !important;
                                        transform: none !important;
                                        transition: max-height 0.25s;
                                        float: none;
                                        z-index: 2;
                                        background-color: transparent;
                                        font-size: 1rem;

                                        &.show {
                                            max-height: 100vh;
                                            transition: max-height 0.5s;
                                        }

                                        .dropdown-item {
                                            margin: 1rem 0 0;
                                            padding: 0;
                                            color: $white;
                                        }
                                    }
                                }
                            }

                            // STATUS
                            > div:nth-child(2) {
                                order: 1;

                                strong {
                                    &:before {
                                        margin-right: 0.65em;
                                        color: rgba($black, 0.5);
                                        font-size: 1rem !important;
                                    }

                                    &:nth-of-type(1):before {
                                        @include font-icon('fastfood');
                                    }

                                    &:nth-of-type(2):before {
                                        @include font-icon('mood');
                                    }
                                }
                            }
                        }

                        // STATS
                        .pet_stats {
                            padding: 0 !important;
                        }

                        // RESORT
                        .alert.alert-success {
                            margin-bottom: 0;

                            p {
                                display: flex;

                                @media #{$tablet} {
                                    flex-direction: column;
                                    text-align: center;
                                }

                                @media #{$mobile} {
                                    flex-direction: row;
                                    text-align: left;
                                }

                                br {
                                    display: none;
                                }

                                a {
                                    margin-left: auto;

                                    @media #{$tablet} {
                                        margin-left: 0;
                                    }

                                    @media #{$mobile} {
                                        margin-left: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
