// ITEM VAULT - VAULT SEARCH
.card-body {
    .form.bg-light.p-3.rounded.border {
        padding: 0 0.5rem !important;
        background-color: transparent !important;

        label {
            display: none;
        }

        select {
            @media #{$mobile} {
                margin-bottom: 1rem !important;
            }
        }
    }
}

// ITEM VAULT - ITEMS
#vaults {
    max-width: $tablet-width;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius;
    padding-bottom: 75px;
    background-color: $white;

    @media #{$mobile} {
        padding-bottom: 90px;
    }

    .row.text-center {
        display: flex;
        flex-wrap: wrap;
    }

    .vault-item {
        flex-basis: 25%;
        border: 0 !important;
        border-radius: 0 !important;
        margin: 0 0 -40px !important;
        padding: 1rem !important;

        @media #{$tablet} {
            flex-basis: 50%;
        }

        @media #{$mobile} {
            flex-basis: 100%;

            &:nth-child(n + 2) {
                border-top: 1px solid $light-grey !important;
                margin-top: 1rem !important;
            }
        }

        > div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100% !important;

            label {
                display: flex;
                align-items: center;
                width: 70%;
                margin-bottom: 0;
                text-align: left;
            }

            .wl_item {
                border: 0;

                &.non_wishlist {
                    .wl_plus {
                        display: none;
                    }
                }
            }

            br,
            i {
                display: none;
            }

            a,
            input[type='checkbox'] {
                margin-left: auto;
            }

            select {
                position: relative !important;
                top: auto !important;
                bottom: auto !important;
                left: auto !important;
                right: auto !important;
                width: 100% !important;
            }
        }
    }

    // QUICK MOVE
    > div:last-child {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        bottom: 0;
        width: calc(100% - #{$sidebar-width} - #{$target} - 2rem);
        border: 0 !important;
        border-radius: $border-radius $border-radius 0 0 !important;
        background-color: $dark-grey !important;
        z-index: 9;
        font-size: 0;

        @media #{$mobile} {
            left: 0;
            width: 100%;
        }

        &:after,
        b {
            display: none;
        }

        .btn,
        select {
            flex-basis: calc((100% - 4rem) / 5);
            width: calc((100% - 4rem) / 5);
            margin: 0 !important;

            @media #{$mobile} {
                flex-basis: calc((100% - 3rem) / 4);
                width: calc((100% - 3rem) / 4);
            }
        }

        :nth-child(n + 2) {
            margin-left: 1rem !important;
        }

        input[type='submit'] {
            @include button-inverse();

            @media #{$mobile} {
                flex-basis: 100%;
                width: 100%;
                margin: 1rem 0 0 !important;
            }
        }
    }
}

// ITEM VAULT - CATEGORIES
#vault-categories {
    @at-root #new-category-name {
        margin: 0 1rem !important;
        transform: translate(0, 2px);

        @media #{$mobile} {
            width: 100%;
            margin: 1rem 0 0 !important;
        }
    }

    @at-root #category-list {
        margin-bottom: 0;

        .category-listing {
            &:first-child td {
                border-top: 0;
                padding-top: 0;
            }

            &:last-child td {
                padding-bottom: 0;
            }

            td {
                vertical-align: middle;
            }
        }
    }
}

// CURRENCY VAULT
input[type='hidden'][name='act'][value='bank'] {
    @media #{$tablet} {
        + .column {
            width: 100% !important;
            padding: 1rem 0 !important;
        }

        + .column ~ .column {
            width: calc(100% / 3) !important;
            padding: 1rem !important;

            @media #{$mobile} {
                width: 100% !important;
                padding: 0 !important;

                .ui.input {
                    display: block;
                    margin: 0 1rem 1rem;
                }
            }
        }

        + .column + .column + .column + .column {
            display: none;
        }

        + .column + .column + .column + .column + .column {
            @media #{$mobile} {
                padding: 0 1rem 1rem !important;
            }

            .ui.button.small {
                @include button($full-width: true);
            }
        }
    }
}
.ui.segment.attached {
    .ui.grid {
        .column.wide.three {
            padding: 0;
            margin: 1rem;

            @media #{$tablet} {
                width: calc(50% - 2rem);
            }

            @media #{$mobile} {
                width: 100%;
            }

            .ui.grid {
                .column.wide.four {
                    display: none;
                }

                .column.wide.twelve {
                    width: 100%;

                    .ui.dividing.header {
                        margin-bottom: 0.5rem;

                        + strong + br + br,
                        + strong + br + br + small + br + br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
