.ui.menu + .ui.header {
    // OVERVIEW
    + .card .card-body {
        // OVERVIEW - SEARCH
        .form-inline[method='post'][action='/wishlists.php/searchcats/'] {
            input {
                @media #{$mobile-only} {
                    display: block;
                    width: 100%;
                    margin-top: 1rem;
                }

                @media #{$tablet} {
                    margin-left: 1rem;
                }
            }

            margin-bottom: 1rem;
        }

        // OVERVIEW - CATEGORIES
        #category-list {
            width: calc((100vw / 3) - 4rem);

            @media #{$tablet} {
                width: calc(100vw - var(--sidebar, 20rem) - 4.25rem);
            }

            @media #{$desktop} {
                width: calc(#{$width-container} - 4rem);
            }

            .category {
                @include cols($spacing: 1rem);
                padding: 0 !important;

                @media #{$mobile-only} {
                    &:nth-child(n + 2) {
                        margin-top: 1rem;
                    }
                }

                @media #{$tablet-only} {
                    &:nth-child(n + 3) {
                        margin-top: 1rem;
                    }
                }

                @media #{$desktop} {
                    &:nth-child(n + 4) {
                        margin-top: 1rem;
                    }
                }

                .card {
                    &-header {
                        .badge {
                            margin-left: 0.5rem;
                            background-color: $primary;
                        }
                    }

                    &-body {
                        border: 1px solid $primary;
                        border-top-width: 0;
                        border-radius: 0 0 $border-radius $border-radius;

                        > .text-center {
                            line-height: 2.75rem;
                            position: absolute;
                            top: 0;
                            right: 1rem;

                            .wl_item {
                                display: none;
                            }
                        }

                        > .media-body {
                            display: flex;
                            // flex-wrap: wrap;
                            margin-left: 0 !important;
                            font-size: 0;

                            i,
                            a[href*='toggle_privacy'] {
                                padding-right: 0.5rem;
                                font-size: 1rem;
                                line-height: 1rem;
                            }

                            div:nth-child(n + 2) {
                                padding-left: 0.5rem;
                            }

                            // > div {
                            //     flex-basis: 50%;

                            //     &:nth-last-child(n + 3) {
                            //         margin-bottom: 0.5rem;
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }

    // WISHLIST
    + .border.rounded.p-3.mb-3 {
        background-color: $white;

        form[method='post'] {
            display: flex;

            .form-group {
                @media #{$mobile-only} {
                    width: calc(50% - 0.5rem);
                }

                label {
                    display: none;
                }
            }

            .btn {
                margin-left: 1rem;

                @media #{$mobile-only} {
                    width: calc(50% - 0.5rem);
                }
            }
        }
    }
}
