// INBOX/OUTBOX
.sp-cells {
    width: 100% !important;
    max-width: $tablet-width;
    margin: 0 auto;
}

.sp-header {
    background-color: $dark-grey;
    color: $white;
    font-family: $font-family !important;
}

.sp-sub {
    background-color: $accent;
    border: 0;
}

form[method='get'] {
    .sp-cells {
        margin-bottom: 1rem;

        .sp-header {
            border-radius: $border-radius $border-radius 0 0;
        }

        .sp-sub {
            a {
                color: $white;
                font-size: 0;

                &:after {
                    font-size: 1.5rem !important;
                }
            }

            a[href='?act=new']:after {
                @include font-icon('create');
            }

            a[href='/friends.php']:after {
                @include font-icon('favorite');
            }

            a[href='?act=block']:after {
                @include font-icon('block');
            }

            a[href='?act=prefs']:after {
                @include font-icon('settings');
            }

            a[href='?act=editfolders']:after {
                @include font-icon('folder');
            }
        }

        .sp-sub + tr > td {
            background-color: $white;

            &:nth-child(1) {
                border-radius: 0 0 0 $border-radius;

                > center > table > tbody > tr > td {
                    width: calc(100% / 3) !important;
                    text-align: center;

                    &:nth-child(2) {
                        table {
                            border: 0 !important;
                            border-radius: $border-radius;
                            background-color: $grey;

                            tr {
                                td {
                                    padding: 0;

                                    &:nth-child(1) {
                                        background-color: $accent !important;
                                        background-image: none !important;
                                    }

                                    &:nth-child(2) {
                                        background-color: transparent !important;
                                        background-image: none !important;
                                        border-radius: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                border-radius: 0 0 $border-radius 0;

                select {
                    margin-right: 1rem !important;

                    @media #{$mobile} {
                        width: calc(100% - 2rem);
                        margin-right: 0 !important;
                        margin-bottom: 1rem !important;
                    }
                }

                input[type='submit'] {
                    width: $target;

                    @media #{$mobile} {
                        width: calc(100% - 2rem);
                    }
                }
            }
        }
    }
}

form[method='post'] {
    .sp-cells {
        tr:nth-child(1) {
            td:first-child {
                border-radius: $border-radius 0 0 0;

                @media #{$mobile} {
                    font-size: 0;
                }
            }

            td:nth-child(n + 2):not(:last-child) {
                center {
                    text-align: left;
                }
            }

            td:last-child {
                border-radius: 0 $border-radius 0 0;

                span {
                    color: $white !important;
                }

                @media #{$mobile} {
                    font-size: 0;
                }
            }
        }

        tr:nth-child(n + 2):not(:nth-last-child(-n + 2)) {
            background-color: $white;

            &:not(:nth-last-child(-n + 3)) {
                border-bottom: 1px solid $light-grey;
            }

            @include hover {
                background-color: $accent !important;
                color: $white;

                a {
                    color: $white;
                }
            }

            @media #{$mobile} {
                vertical-align: top;
                font-size: 0.75rem;

                img {
                    display: none;
                }
            }
        }

        tr:nth-last-child(2) {
            background-color: transparent;

            td {
                background-color: $grey;
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                @media #{$mobile} {
                    font-size: 0.75rem;
                }

                &:first-child {
                    border-radius: 0 0 0 $border-radius;
                }

                &:last-child {
                    border-radius: 0 0 $border-radius 0;

                    select {
                        margin-left: 1rem !important;
                    }
                }
            }
        }

        tr:last-child {
            background-color: transparent;

            td {
                padding: 1rem 0;
            }
        }
    }
}

// MESSAGE - NEW
#smail_form {
    > table {
        width: 100%;

        .sp-header {
            border-radius: $border-radius $border-radius 0 0;
        }

        > tbody > tr:nth-child(2) > td.ui {
            padding: 1rem;
            background-color: $white;

            table {
                width: 100%;

                tr {
                    td {
                        display: block;
                        width: 100%;
                        padding: 0;

                        textarea {
                            margin-top: 0;
                        }
                    }

                    &:not(:last-child) {
                        td:last-child {
                            margin-bottom: 1rem;
                        }
                    }

                    &:last-child center {
                        display: flex;

                        input.awesome {
                            display: block;
                            width: calc((100% - 1rem) / 2) !important;

                            + input.awesome {
                                margin-left: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// MESSAGE - REPLY
#scam_warning {
    display: none;
}

@media #{$mobile} {
    input[name='replyid'] + table table[width='75%'] > tbody > tr {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.75rem;

        td {
            padding: 0.5rem;
            border-bottom: 1px solid $light-grey;
            background-color: $white;
        }

        td[width='25%'] {
            width: 15%;
            font-weight: bold;
        }

        td[width='75%'] {
            width: 85%;
        }

        #buttonzone,
        #replyzone {
            width: 100%;

            textarea,
            div {
                width: 100% !important;
            }

            .awesome {
                margin-top: 1rem !important;
            }
        }
    }
}
