// HOVER STATES
@mixin hover {
    &:hover,
    &:active {
        @content;
    }
}

// FONT ICONS
@mixin font-icon($icon-name) {
    content: '#{$icon-name}' !important;
    display: inline-block;
    font-weight: normal;
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 2rem;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

// BUTTON
@mixin button($full-width: false) {
    min-height: 0;
    height: $target;
    margin: 0;
    padding: 0 1rem !important;
    border: 0 !important;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $black !important;
    background-image: none !important;
    color: $white !important;
    box-shadow: none !important;
    font-size: 1rem !important;
    font-weight: bold;
    line-height: $target;
    text-transform: uppercase !important;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    @include hover {
        background-color: $accent !important;
        text-decoration: none !important;
    }

    @if $full-width {
        display: block;
        width: 100%;
    }

    br {
        display: none;
    }
}

// BUTTON - INVERSE
@mixin button-inverse {
    background-color: $accent !important;

    @include hover {
        background-color: $black !important;
    }
}

// ALERT COLOR - BACKGROUND
@mixin alert-color-background($color) {
    background-color: scale-color($color: $color, $lightness: 50%) !important;
}

// ALERT COLOR - TEXT
@mixin alert-color-text($color) {
    color: scale-color($color: $color, $lightness: -50%) !important;
}

// ALERT COLOR - COMBO
@mixin alert-color($color) {
    @include alert-color-background($color);
    @include alert-color-text($color);
}

// ALERT COLORS - ALL
@mixin alert-colors {
    &-danger,
    &.red {
        @include alert-color($alert-red);
    }

    &-warning,
    &.warning {
        @include alert-color($alert-yellow);
    }

    &-success,
    &.green {
        @include alert-color($alert-green);
    }

    &-info,
    &.info {
        @include alert-color($alert-blue);
    }
}

// ALERT COLORS - ALL - HOVER
@mixin alert-colors-hover {
    &-danger,
    &.red {
        transition: opacity 0.25s;

        @include hover {
            @include alert-color($alert-red);
            opacity: 0.5;
        }
    }

    &-warning,
    &.warning {
        transition: opacity 0.25s;

        @include hover {
            @include alert-color($alert-yellow);
            opacity: 0.5;
        }
    }

    &-success,
    &.green {
        transition: opacity 0.25s;

        @include hover {
            @include alert-color($alert-green);
            opacity: 0.5;
        }
    }

    &-info,
    &.info {
        transition: opacity 0.25s;

        @include hover {
            @include alert-color($alert-blue);
            opacity: 0.5;
        }
    }
}

// FORM FIELD
@mixin form-field($full-width: false) {
    height: $target !important;
    margin: 0 !important;
    padding: 0 0.5rem;
    border: 1px solid $grey;
    border-radius: 5px;
    background-color: $white;
    -webkit-appearance: none;
    font-size: 1rem !important;

    @if $full-width {
        display: block;
        width: 100%;
    }
}

// FORM FIELD - DROPDOWN
@mixin form-select($full-width: false) {
    @include form-field($full-width: $full-width);
    padding-right: 2rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23444%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') !important;
    background-repeat: no-repeat;
    background-position: right 0.75rem top 50%;
    background-size: 0.5rem auto;
    cursor: pointer;
}

// FORM FIELD - INPUT - TEXT
@mixin form-input-text {
    font-size: 1rem !important;
}

// TABLE COLUMNS - SAME WIDTH FOR ALL
@mixin table-cols($column-count) {
    tr {
        display: flex;
    }

    td,
    th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th:nth-last-child(#{$column-count}):first-child,
    th:nth-last-child(#{$column-count}):first-child ~ th {
        flex-basis: calc(100% / #{$column-count});
    }

    td:nth-last-child(#{$column-count}):first-child,
    td:nth-last-child(#{$column-count}):first-child ~ td {
        flex-basis: calc(100% / #{$column-count});
    }
}

// DESKTOP 4 COL, TABLET 2 COL, MOBILE 1 COL
@mixin cols($useWidth: false, $border: false) {
    @if $useWidth {
        width: calc((100% - 3rem) / 4) !important;

        @media #{$tablet} {
            width: calc((100% - 1rem) / 2) !important;
        }

        @media #{$mobile} {
            width: 100% !important;
        }

        &:not(:nth-child(4n - 3)) {
            margin-left: 1rem !important;

            @media #{$tablet} {
                margin-left: 0 !important;
            }
        }

        &:nth-child(even) {
            margin-left: 1rem !important;

            @media #{$mobile} {
                margin-left: 0 !important;
            }
        }
    } @else {
        flex-basis: calc((100% - 3rem) / 4);

        @media #{$tablet} {
            flex-basis: calc((100% - 1rem) / 2);
        }

        @media #{$mobile} {
            flex-basis: 100%;
        }

        &:not(:nth-child(4n - 3)) {
            margin-left: 1rem;

            @media #{$tablet} {
                margin-left: 0;
            }
        }

        &:nth-child(even) {
            margin-left: 1rem;

            @media #{$mobile} {
                margin-left: 0;
            }
        }
    }

    @if $border {
        &:nth-child(n + 2) {
            @media #{$mobile} {
                border-top: 1px solid $light-grey;
            }
        }
    }
}
