// FONTS
$font-family: 'Barlow Semi Condensed';

// COLOURS - BASIC
$accent: #6eaea7;
$black: #111111;
$dark-grey: #333333;
$grey: #cccccc;
$light-grey: #eeeeee;
$white: #ffffff;

// COLOURS - ALERTS
$alert-red: #fe4365; //#d46962;
$alert-yellow: #fbb829; //#eab95b;
$alert-green: #23c174; //#69ab79;
$alert-blue: #786ef7; //#29a3b3;

// SIZES
$target: 3rem;
$border-radius: 5px;
$sidebar-width: 20rem;
$mobile: '(max-device-width: 600px)';
$mobile-vw: calc(100vw / 3);
$mobile-vh: calc(100vh / 3);
$tablet-width: 1024px;
$tablet: '(max-width: #{$tablet-width})';
$img: 48px;
$img-mob: 32px;
