@mixin button($color: $black, $invert: false, $black-text: false, $full-width: false) {
    min-height: 0;
    height: $target;
    overflow: hidden;
    margin: 0;
    padding: 0 1rem !important;
    border: 2px solid transparent !important;
    border-radius: $border-radius;
    background-image: none !important;
    box-shadow: none !important;
    font-weight: bold;
    font-size: 1rem !important;
    line-height: calc(#{$target} - 4px);
    text-transform: uppercase !important;
    text-decoration: none;
    text-shadow: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;

    @if $invert {
        border-color: $color !important;
        background-color: transparent !important;

        color: $color !important;

        @include hover {
            background-color: $color !important;

            @if ($black-text) {
                color: $black !important;
            } @else {
                color: $white !important;
            }
        }
    } @else {
        background-color: $color !important;

        @if ($black-text) {
            color: $black !important;
        } @else {
            color: $white !important;
        }

        @include hover {
            border-color: $color !important;
            background-color: transparent !important;
            color: $color !important;
        }
    }

    @if $full-width {
        display: block;
        width: 100% !important;
    }

    br {
        display: none;
    }
}

/******************************************************************************/

.awesome.blue.large,
.ui.button,
.btn,
input[type='submit'] {
    @include button();

    @media #{mobile-only} {
        margin-top: 1rem;
    }
}

.ui.button.red {
    @include button($color: $alert-red, $invert: true);
}

.ui.button.positive {
    @include button($color: $alert-green);
}

.ui.button.tiny[href*='remove'] {
    height: auto;
    padding: 0.5rem !important;
    font-size: 0 !important;
    line-height: normal;

    &:before {
        @include icon('delete', $font-size: 1rem);
    }
}
