.card {
    border: 0;
    border-radius: $border-radius;

    &-header,
    &-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: $target;
        padding: 0.5rem 1rem;
        border: 0;
        background-color: $grey-dark !important;
        color: $white;
    }

    &-header {
        &:first-child {
            border-radius: $border-radius $border-radius 0 0;
        }

        h2 {
            margin-bottom: 0;
        }
    }

    &-footer {
        &:last-child {
            border-radius: 0 0 $border-radius $border-radius;
        }
    }

    &-body {
        padding: 1rem;
    }

    &-title:only-child {
        margin-bottom: 0;
    }
}
