#main-content {
    background-color: transparent;
    background-image: none;
}

#content {
    min-height: calc(#{$vh-mobile} - #{$target} * 2);
    margin-left: 0 !important;
    padding: 0;
    top: $target * 2;
    background-color: transparent;

    @media #{$tablet} {
        width: calc(100% - #{$sidebar});
        top: $target;
        left: $sidebar;
    }

    &[style*='margin-left: 0px'],
    #sidebar[style*='display:none;'] + & {
        @media #{$tablet} {
            width: 100%;
            left: 0;
        }
    }

    > .container-fluid {
        max-width: $width-container;
        padding: 1rem;
        padding-bottom: $target;

        .container,
        .container-fluid {
            padding: 0;
        }
    }
}
