img {
    height: auto;
    border-radius: $border-radius;

    &[src*='subeta.net/items'],
    &[src*='subeta.net/cs_'],
    &[src*='subeta.net/game_dm'],
    &[src*='subeta.net/shops/./../items'],
    &[src*='subeta.net/shops/../../items'],
    &[src*='subeta.net/spectrail_spectrum'] {
        &,
        &.ui.image {
            max-width: $item-mob;

            @media #{$tablet} {
                max-width: $item;
            }
        }
    }

    &[src*='pets.subeta.net/'],
    &[src*='subeta.net/battle/opponents'],
    &[src*='subeta.net/celesse'],
    &[src*='subeta.net/pets/'],
    &[src*='subeta.net/quest'] {
        max-width: 100px !important;

        @media #{$tablet} {
            max-width: 200px !important;
        }
    }

    &[src*='subeta.net/battle/opponents'] {
        margin-bottom: 1rem;
    }

    &[src$='icons/user.gif'],
    &[src$='icons/gold.gif'],
    &[src$='icons/council.gif'],
    &[src$='icons/staff.gif'] {
        display: inline-block;
        box-sizing: border-box;
        height: 0.5rem !important;
        width: 0.5rem !important;
        overflow: hidden;
        margin: 0 0.25rem;
        padding-top: 0.5rem;
        position: relative;

        transform: translate(0, -1px);
    }

    &[src$='icons/user.gif'] {
        background-color: $alert-blue;
    }

    &[src$='icons/gold.gif'] {
        background-color: $alert-yellow;
    }

    &[src$='icons/council.gif'] {
        background-color: $alert-green;
    }

    &[src$='icons/staff.gif'] {
        background-color: $alert-red;
    }

    @media #{$mobile-only} {
        &[src*='subeta.net/maleira'],
        &[src*='subeta.net/npc'],
        &[src*='subeta.net/quentin'],
        &[src*='subeta.net/quest'] {
            &,
            & + br {
                display: none;
            }
        }
    }
}
