#postcards,
#header {
    display: none;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    height: $target * 2;
    margin-top: 0;
    position: fixed;
    background-color: $primary;
    background-image: none;

    @media #{$tablet} {
        height: $target;
    }

    &-left,
    &-right {
        display: none;
    }

    &-logo {
        flex-basis: 50%;
        height: $target;
        padding-left: 1rem;
        top: 0;
        background-image: none;

        @media #{$tablet} {
            flex-basis: calc(#{$sidebar} / 2);
        }
    }

    &-time {
        flex-basis: 50%;
        height: $target;
        margin: 0;
        padding-right: 1rem;
        border: 0;
        background-color: transparent;
        font-size: 1rem;
        text-align: right;
        line-height: $target;

        @media #{$tablet} {
            flex-basis: calc(#{$sidebar} / 2);
        }
    }

    &-ul {
        display: flex;
        flex-direction: row-reverse;
        flex-basis: calc(100% - #{$target});
        padding: 0 1rem;
        background-color: $grey-dark;

        @media #{$tablet} {
            flex-basis: calc(100vw - #{$sidebar} - #{$target} * 2);
            padding: 0;
        }
    }
}

.menu {
    &-logo-txt {
        margin-top: 0;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: $target;
        text-transform: uppercase;
        text-shadow: none;
    }

    &-btn {
        height: $target;
        margin: 0 !important;

        background-image: none;
        transition: background-color 0.3s;

        &:first-child {
            @media #{$mobile-only} {
                border-right: 1px solid $black;
            }
        }

        &:not(:last-child) {
            border-left: 1px solid $black;
        }

        &.pf-active {
            background-color: $black;

            > ul {
                max-height: $vh-mobile;

                @media #{$tablet} {
                    max-height: 100vh;
                }
            }
        }

        &-left,
        &-right {
            display: none;
        }

        &:first-child {
            > ul {
                @media #{$tablet} {
                    right: -1px;
                }
            }
        }

        &:last-child {
            > ul {
                @media #{$tablet} {
                    left: -1px;
                }
            }
        }

        &:not(:first-child):not(:last-child) {
            > ul {
                @media #{$tablet} {
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }

        > ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            border: 0;
            position: fixed;
            top: $target * 2;
            background-color: $black;
            transition: max-height 0.3s;

            @media #{$tablet} {
                width: $sidebar;
                position: absolute;
                top: $target;
            }

            li {
                flex-basis: 50%;
                height: $target;
                margin: 0 !important;
                padding: 0;
                border: 0;
                border-bottom: 1px solid $grey-dark;
                font-size: 0;
                transition: background-color 0.3s;

                @include hover {
                    background-color: $primary;
                }

                @media #{$tablet} {
                    flex-basis: 100%;
                    height: auto;
                }

                &:nth-child(odd) {
                    border-right: 1px solid $grey-dark;

                    @media #{$tablet} {
                        border-right: 0;
                    }
                }

                a {
                    display: block;
                    color: $white;
                    font-size: 1rem;
                    text-decoration: none;
                    line-height: $target;

                    &[aria-haspopup='true'] {
                        &:after {
                            @media #{$tablet} {
                                @include icon('expand_more', $font-size: 1rem);
                                margin-left: 0.5rem;
                                transform: translate(0, 2px);
                                line-height: 1;
                                transition: transform 0.3s;
                            }
                        }

                        &:hover:after {
                            @media #{$tablet} {
                                transform: translate(0, 2px) rotate(180deg);
                            }
                        }
                    }
                }
            }

            > li {
                ul {
                    display: none !important;
                    overflow: hidden !important;
                    padding: 0;
                    border: 0;
                    position: relative;
                    top: 0;
                    left: 0;
                    background-color: $grey-dark;
                    transition: max-height 0.3s;

                    @media #{$tablet} {
                        display: block !important;
                    }

                    &#menu-sub-forums,
                    &#menu-sub-friends,
                    &#menu-sub-pets,
                    &#menu-sub-shops,
                    &#menu-sub-vault {
                        @media #{$tablet} {
                            width: 100% !important;
                            max-height: 0 !important;
                        }
                    }

                    &#menu-sub-pets {
                        br {
                            display: none;
                        }

                        a:first-of-type {
                            margin-left: 0.5rem;
                        }
                    }

                    li {
                        color: $white;
                        font-weight: bold;
                        font-size: 1rem;

                        &:nth-child(n + 2) {
                            border-top: 1px solid $black;
                        }

                        a {
                            display: inline;
                            font-weight: normal;
                        }
                    }
                }

                &.pf-active ul {
                    &#menu-sub-forums,
                    &#menu-sub-friends,
                    &#menu-sub-pets,
                    &#menu-sub-shops,
                    &#menu-sub-vault {
                        @media #{$tablet} {
                            max-height: 100vh !important;
                        }
                    }
                }
            }
        }
    }

    &-tab {
        height: $target !important;
        margin: 0 !important;
        padding: 0 0.5rem !important;
        font-family: $font-family;
        font-weight: bold;
        font-size: 0 !important;
        text-transform: uppercase;
        line-height: 3rem !important;
        pointer-events: none !important;

        @media #{$tablet} {
            padding: 0 1rem !important;
            font-size: 1rem !important;
            line-height: 2rem !important;
            pointer-events: all !important;
        }

        &:before {
            color: $primary;

            @media #{$tablet} {
                margin-right: 0.5rem;
                transform: translate(0, 0.4rem);
                font-size: 1.5rem !important;
            }

            #menu-btn-subeta-css & {
                @include icon('explore');
            }

            #menu-btn-interact-css & {
                @include icon('question_answer');
            }

            #menu-btn-commerce-css & {
                @include icon('store');
            }

            #menu-btn-personal-css & {
                @include icon('face');
            }

            #menu-btn-cs-css & {
                @include icon('credit_card');
            }
        }
    }
}
