.pagination {
    width: 100%;
    padding: 0;
    border-radius: $border-radius;

    &:empty {
        display: none;
    }

    .page-item {
        flex: 1 1 auto;
        text-align: center;

        @media #{$mobile-only} {
            &:nth-child(n + 4):nth-last-child(n + 4):not(.active) {
                display: none;
            }
        }

        &:only-child {
            display: none;
        }

        &:nth-child(n + 2) {
            border-left: 2px solid $grey-light;
        }

        &.active .page-link {
            background-color: $primary;
        }

        .page-link {
            height: $target;
            padding: 0 0.5rem;
            border: 0;
            background-color: $grey-dark;
            color: $white;
            line-height: $target;
            transition: background-color 0.3s;

            @include hover {
                background-color: $primary;
            }
        }
    }
}
