.ui.progress {
    height: 1rem;
    border-radius: $border-radius;

    &,
    &.attached {
        padding: 0;
        border: 0;
        background-color: $grey;
    }

    &.attached {
        border-radius: 0 0 $border-radius $border-radius;
    }

    &.failed {
        border-color: $alert-red;

        .bar {
            background-color: $alert-red !important;
        }
    }

    &.warning {
        border-color: $alert-yellow;

        .bar {
            background-color: $alert-yellow !important;
        }
    }

    &.successful {
        border-color: $alert-green;

        .bar {
            background-color: $alert-green !important;
        }
    }

    .bar {
        background-color: $alert-green !important;
        height: 100% !important;
    }
}

.progress {
    background-color: $grey-light;

    .bg-success {
        background-color: $alert-green !important;
    }
}
