.ui {
    box-shadow: none !important;

    &.form {
        .fields {
            .field.wide {
                padding: 0;
            }
        }
    }

    &.grid {
        display: flex !important;
        flex-wrap: wrap;
        margin: 0;

        &.celled {
            > .row,
            > .column.row,
            > .column.row:first-child {
                display: flex;
            }
        }

        &.divided {
            > .row {
                display: flex;
            }

            &.vertically > .row {
                box-shadow: none !important;
            }
        }

        > .row {
            margin-top: 0;
            padding: 0;

            &:nth-child(n + 2) {
                margin-top: 1rem;
            }

            > .column {
                padding-left: 0;
                padding-right: 0;
            }
        }

        > .column.wide {
            font-size: 1rem !important;

            &.two,
            &.three,
            &.four,
            &.five {
                @include cols($padding: 0);
                display: flex;
                align-items: center;
                font-size: 0.75rem !important;
                text-align: left !important;

                @media #{$mobile-only} {
                    padding: 1rem 0;

                    &:nth-child(n + 2) {
                        border-top: 1px solid $grey-light;
                    }

                    &:nth-last-child(1) {
                        padding-bottom: 0;
                    }
                }

                @media #{$tablet-only} {
                    &:nth-child(n + 3) {
                        padding-top: 1rem;
                    }
                }

                @media #{$desktop} {
                    &:nth-child(n + 4) {
                        padding-top: 1rem;
                    }
                }

                &:first-child {
                    padding-top: 0;

                    > .ui.grid {
                        padding-top: 1rem;
                    }
                }

                &:last-child {
                    > .ui.grid {
                        padding-bottom: 1rem;
                    }
                }

                > .ui.grid {
                    padding: 0 1rem;

                    > .column.wide {
                        margin: 0;
                        padding: 0;

                        &:nth-last-child(2):nth-child(1) {
                            flex-basis: 20%;
                        }

                        &:nth-last-child(2):nth-child(2) {
                            flex-basis: 80%;
                        }
                    }
                }

                span {
                    display: none;
                }

                input[type='checkbox'] {
                    margin-left: 0.5rem;
                    vertical-align: middle;
                }
            }
        }
    }

    &.header {
        font-size: 1rem !important;

        &.attached {
            padding: 1rem;
            background-color: $grey-dark;
            color: $white;

            &.top {
                border-radius: $border-radius $border-radius 0 0;
            }
        }

        &.dividing {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    &.label {
        background-color: $grey !important;

        &.red {
            background-color: $alert-red !important;
        }

        &.green {
            background-color: $alert-green !important;
        }

        .icon {
            color: $white;
        }
    }

    &.menu {
        border-radius: $border-radius !important;
        background-color: $grey-dark !important;
        color: $white;

        &.tabular {
            border-bottom: 0;

            .item,
            .item.active {
                margin-bottom: 0;
                border: 0;
            }
        }

        &.secondary.pointing {
            margin-top: 0;
            border: 0;

            .item {
                margin: 0;
                padding: 1rem;
                border: 0;
                color: inherit;
                font-size: 1rem !important;
                opacity: 1;

                @include hover {
                    color: inherit !important;
                    text-decoration: underline;
                }

                &.header {
                    display: none;
                }
            }
        }

        &.vertical {
            display: flex !important;
            flex-wrap: wrap;

            .item {
                box-shadow: none !important;

                &.category.header {
                    flex-basis: calc(100% / 3);
                }

                .angle.left.icon {
                    display: none;
                }
            }
        }

        + .bottom.attached {
            border-top-right-radius: $border-radius !important;

            ~ .bottom.attached {
                border-radius: $border-radius;
            }
        }

        .item {
            &,
            &.active {
                margin: 0;
                padding: 1rem;
                border: 0;
                color: inherit;
                font-size: 1rem !important;
                opacity: 1;

                @include hover {
                    color: inherit !important;
                    text-decoration: underline;
                }
            }
        }
    }

    &.message {
        &.attached {
            margin: 0 !important;
            border-radius: $border-radius $border-radius 0 0;
            background-color: $grey-dark !important;
            color: $white;
            font-weight: bold;
            font-size: 1rem;

            + .ui.segment.attached {
                border-radius: 0 0 $border-radius $border-radius;
            }
        }
    }

    &.segment {
        padding: 0;

        > :last-child:not(:only-child) {
            margin-bottom: 1rem;
        }

        &.attached {
            margin: 0 !important;
            border: 0 !important;
            top: 0 !important;
            bottom: 0;

            &.bottom {
                border-radius: 0 0 $border-radius $border-radius;
            }
        }
    }
}
