/* Code by Hongske */
/* Image by Freepik: https://www.freepik.com/free-vector/hand-drawn-peach-pattern_14308320.htm */
@import url('//hongske.github.io/subeta/user-profiles/common.css');
@import url('//fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sofia&display=swap');

:root {
    --body-bg-image: url('https://hongske.github.io/subeta/user-profiles/Apricot/assets/body-bg-image.png');
    --body-bg-repeat: repeat;
    --body-bg-size: 350px;
    --body-font-family: 'Poppins', sans-serif;
    --body-font-size: .75rem;

    --heading-font-family: 'Sofia', cursive;

    --accent-apricot: #ef997c;
    --accent-green: #699567;

    --box-shadow-size: .5rem;
    --box-shadow: 0 0 0 var(--box-shadow-size) color-mix(in srgb, var(--accent-apricot), transparent);

    --button-radius: .25rem;
    --button-padding: .5em;
    --button-bg-color: var(--accent-apricot);
    --button-fg-color: white;
    --button-line-height: 1.5;
    --button-transition: width .2s, margin .2s, box-shadow .2s;

    --navigation-bg-color: var(--accent-green);
    --navigation-spacing: .75rem;

    --toolbox-bg-color: color-mix(in srgb, var(--accent-apricot), transparent);

    --overall-radius: 1rem;
    --overall-padding: 2rem;
    --overall-spacing: 2rem;

    --column-spacing: 3rem;

    --block-radius: .5rem;
    --block-bg-color: transparent;
    --block_head-bg-color: transparent;
    --block_head-font-size: 2rem;
    --block_head-icon: url('https://hongske.github.io/subeta/user-profiles/Apricot/assets/block_head-icon.png');
    --block_content-spacing: .5rem;
}

body {
    background-attachment: fixed;
}

#navigation {
    align-content: center;
    align-items: center;
    max-width: var(--content-width);
    overflow: hidden;

    a {
        position: relative;
        z-index: 0;

        &::before {
            content: '';
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background-color: var(--accent-apricot);
            box-shadow: var(--box-shadow);
            transition: transform .2s;
            z-index: -1;
        }

        &:hover, &:focus {
            text-decoration: none;

            &::before {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}

#toolbox {
    --button-bg-color: var(--white);
    --button-fg-color: black;

    button, input[type='submit'] {
        margin: 0 .5rem;

        font-size: .75rem;
        font-weight: normal;
        transition: box-shadow .2s;

        &:hover, &:focus {
            box-shadow: var(--box-shadow);
        }
    }

    #new-content {
        margin-top: .5rem;
        text-align: left !important;

        .mt-2, p {
            text-align: center;
        }

        input[type='submit'] {
            display: block;
            margin: 0 auto;
        }

        .text-center {
            text-align: left !important;
        }
    }
}

#overall {
    margin-top: 2rem;
    background-color: color-mix(in srgb, white, transparent);
}

.block {
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 0 1rem;
        position: relative;
        font-family: var(--heading-font-family);
        font-weight: normal;
        font-style: normal;
        text-shadow:
             0px  2px  0px var(--accent-green),
             0px -2px  0px var(--accent-green),
             2px  0px  0px var(--accent-green),
            -2px  0px  0px var(--accent-green);
        z-index: 0;

        &::before {
            content: '';
            width: 100%;
            height: 1rem;
            position: absolute;
            top: 50%; left: 0;
            border-radius: .25rem;
            background-color: var(--accent-green);
            z-index: -1;
        }

        &::after {
            content: '';
            width: 75px;
            height: 68px;
            position: absolute;
            top: 50%; right: .5rem;
            transform: translate(0, -50%);
            background-image: var(--block_head-icon);
            background-repeat: no-repeat;
            background-size: contain;
        }

        a {
            margin-top: 1rem;
            z-index: 2;
        }

        a:first-child {
            margin-left: auto;
            margin-right: .25rem;
        }

        a:last-child {
            margin-right: 1rem;
        }
    }
}

#all_comments {
    margin: 0;
    padding: 0;
    position: static;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    text-shadow: none;

    &::before, &::after {
        display: none;
    }
}

#content_comment {
    textarea {
        border: 2px dashed var(--accent-apricot);
        border-radius: .25rem;
        padding: .5em;

        &:focus-visible {
            outline: none;
            border-style: solid;
        }
    }
}

#content_comment input {
    display: block;
    border: 0;
    border-radius: var(--button-radius);
    margin-bottom: calc(2 * var(--box-shadow-size));
    padding: var(--button-padding);
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    line-height: var(--button-line-height);
    transition: var(--button-transition);

    &:hover, &:focus {
        width: calc(100% - (2 * var(--box-shadow-size))) !important;
        margin: var(--box-shadow-size);
        box-shadow: var(--box-shadow);
    }
}

#content_medals,
#content_shops,
#content_wishlist {
    tr {
        flex-direction: column;
    }

    center {
        display: flex;
        align-items: center;
        text-align: left;
    }

    img {
        width: 2.5rem;
        border: 0;
        border-radius: 50%;
        margin-right: var(--block_content-spacing);
        padding: .25rem;
        background-color: white;
    }

    a {
        img {
            transition: padding .2s, box-shadow .2s;
        }

        &:hover, &:focus {
            img {
                padding: .5rem;
                box-shadow: var(--box-shadow);
            }
        }
    }

    br {
        display: none;
    }
}

#content_options {
    .user-options {
        --block_content-spacing: 2rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 0;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50%;
                background-color: var(--accent-apricot);
                transition: box-shadow .2s;
                z-index: -1;
            }

            img {
                max-width: 5rem;
                transition: padding .2s;
            }

            &:hover, &:focus {
                &::before {
                    box-shadow: var(--box-shadow);
                }

                img {
                    padding: .5rem;
                }
            }
        }
    }
}

#content_pets {
    .data {
        text-align: left;

        a {
            display: flex;
            align-items: center;
            gap: var(--block_content-spacing);

            &:hover, &:focus {
                .avatar_head {
                    box-shadow: 0 0 0 calc(var(--box-shadow-size) + 2px) color-mix(in srgb, var(--accent-apricot), transparent);
                }

                > img {
                    box-shadow: var(--box-shadow);
                }
            }

            .avatar_head,
            > img {
                width: 60px !important;
                height: 60px !important;
                border: 2px solid var(--accent-apricot);
                border-radius: 50%;
                background-color: white;
                transition: box-shadow .2s;
            }

            br {
                display: none;
            }
        }
    }
}

#content_userinfo1,
#content_userinfo2 {
    .data {
        --link-fg-color: var(--acccent-green);
        text-align: left;
    }

    b::before {
        content: '•';
        margin: 0 .25em;
        color: var(--accent-apricot);
    }
}

#content_wishlist {
    a {
        width: 100%;
        border-radius: var(--button-radius);
        margin-top: 1rem;
        margin-bottom: calc(2 * var(--box-shadow-size));
        padding: var(--button-padding);
        background-color: var(--button-bg-color);
        color: var(--button-fg-color);
        text-align: center;
        line-height: var(--button-line-height);
        transition: var(--button-transition);

        &:hover, &:focus {
            width: calc(100% - (2 * var(--box-shadow-size))) !important;
            margin: var(--box-shadow-size);
            margin-top: calc(1rem + var(--box-shadow-size));
            text-decoration: none;
            box-shadow: var(--box-shadow);
        }
    }
}