// BATTLE COLOSSEUM
.battle-menu {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    border-radius: $border-radius !important;
    background-color: $grey-dark;
    font-size: 0;

    a {
        padding: 0.5rem 1rem;
        color: $white;
        font-size: 1rem;

        &[href$='challenge.php'] {
            display: $display_battle-challenge;
        }

        &[href$='weapons.php'] {
            display: $display_battle-armory;
        }

        &[href$='scrolls.php'] {
            display: $display_battle-scrolls;
        }

        &[href$='newbies.php'] {
            display: $display_battle-beginnerGuide;
        }

        &[href$='battleguide.php'] {
            display: $display_battle-indepthGuide;
        }

        &[href$='stats.php'] {
            display: $display_battle-statistics;
        }

        &[href$='exp.php'] {
            display: $display_battle-spendExp;
        }

        &[href$='shop.php'] {
            display: $display_battle-shop;
        }

        &[href$='scores.php'] {
            display: $display_battle-highScores;
        }

        &[href$='boss_prizes.php'] {
            display: $display_battle-bossPrizes;
        }

        &[href$='healer.php'] {
            display: $display_battle-healer;
        }

        &[href$='quest.php'] {
            display: $display_battle-quests;
        }

        &[href$='train.php'] {
            display: $display_battle-trainingCenter;
        }

        &[href$='dmg_tracker.php'] {
            display: $display_battle-hydragellos;
        }
    }

    img {
        display: none;
    }

    // CHALLENGE AN OPPONENT
    + center + #battle_challengers {
        .opponents-list {
            display: flex;
            flex-wrap: wrap;

            > div {
                flex-basis: 100%;
                margin: 0 !important;
                padding: 1rem;
                border-radius: 0;
                background-color: transparent;

                @media #{$mobile-only} {
                    &:nth-of-type(n + 2) {
                        border-top: 1px solid $grey-light;
                    }
                }

                @media #{$tablet-only} {
                    flex-basis: 50%;

                    &:nth-of-type(even) {
                        border-left: 1px solid $grey-light;
                    }

                    &:nth-of-type(n + 3) {
                        border-top: 1px solid $grey-light;
                    }
                }

                @media #{$desktop} {
                    flex-basis: 25%;

                    &:not(:nth-of-type(4n + 1)) {
                        border-left: 1px solid $grey-light;
                    }

                    &:nth-of-type(n + 5) {
                        border-top: 1px solid $grey-light;
                    }
                }

                .card-header {
                    min-height: 0;
                    margin-bottom: 1rem;
                    padding: 0;
                    background-color: transparent !important;
                    color: $black;
                }

                .card-img-top {
                    float: left;
                    width: auto;
                    margin-right: 1rem;

                    img {
                        width: 100px !important;
                    }
                }

                .card-body {
                    padding: 0;

                    > b,
                    > br {
                        display: none;
                    }

                    small {
                        display: block;

                        .statbar {
                            width: calc(100% - 100px - 1rem);
                            margin-left: auto;
                            border: 0;
                            border-radius: $border-radius;
                            background-color: $grey-light;

                            .stat {
                                border-radius: $border-radius;
                                background-color: $primary;
                            }
                        }
                    }

                    form {
                        margin-top: 1rem;

                        .btn {
                            margin-top: 1rem !important;
                        }
                    }
                }
            }
        }
    }

    // START BATTLE
    + .ui.segment {
        background-color: transparent;

        > form[method='post'] {
            input[value='Start Battle'] {
                + .ui.grid {
                    margin: 0 !important;

                    > .column.wide {
                        width: 100%;
                        padding: 0;

                        // OPPONENT
                        &:nth-of-type(1) {
                            margin-bottom: 0;
                            border-radius: $border-radius;
                            background-color: $white;

                            td {
                                align-self: center;
                                padding: 1rem !important;
                                border-radius: 0;
                                background-color: transparent;
                            }
                        }

                        // SELECT PET + PRESELECTION
                        &:nth-of-type(2) {
                            margin: 0;

                            // SELECT PET
                            > table {
                                display: $display_battle-challengeSelectPet;
                                margin-top: 1rem;

                                tr:nth-child(1) {
                                    td {
                                        flex-basis: 100%;
                                        padding: 0;
                                        background-color: transparent;
                                    }
                                }

                                tr:nth-child(2) {
                                    border-top: 0;

                                    td {
                                        max-height: 105px;
                                        overflow-y: auto;
                                        padding: 1rem;
                                        border-radius: $border-radius;
                                        text-align: left;

                                        #petselect {
                                            border: 0 !important;
                                            border-radius: 0 !important;
                                            max-height: none !important;

                                            td {
                                                height: 75px;
                                                overflow: hidden;
                                                padding: 0 !important;

                                                label {
                                                    width: 100%;
                                                    margin-bottom: 1rem;

                                                    center {
                                                        display: flex;
                                                        align-items: center;

                                                        img {
                                                            margin-right: 1rem;
                                                        }

                                                        b:nth-of-type(n + 2) {
                                                            margin-left: 1rem;
                                                        }

                                                        input[type='radio'] {
                                                            margin-left: auto;
                                                        }

                                                        br {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            // PRESELECTION
                            > .ui.message {
                                display: $display_battle-challengePreselection;
                                margin-bottom: 0 !important;
                            }
                        }

                        // SELECT WEAPONS
                        &:nth-of-type(3) {
                            display: $display_battle-challengeSelectWeapons;
                            margin-bottom: 0;
                        }

                        // SELECT SCROLLS
                        &:nth-of-type(4) {
                            display: $display_battle-challengeSelectScrolls;
                            margin-bottom: 0;
                        }

                        h2 {
                            margin-bottom: 0.5rem;
                        }

                        .ui.top.attached.tabular.menu {
                            margin-top: 1rem;
                        }

                        .ui.bottom.attached.segment {
                            padding: 1rem;
                        }
                    }
                }

                ~ input[value='Start Battle'] {
                    margin-top: 1rem;
                }
            }
        }
    }

    // ACTUAL BATTLE
    + center {
        #battleSubmit #battle-ui-main {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            padding: 0;
            border: 0;

            .battle-ui-arena,
            .battle-ui-controls {
                padding: 1rem;
                background-color: $white;

                .battle-title,
                .battle-section-title {
                    background-color: transparent;
                    font-size: 1rem;
                    font-variant: normal;
                }
            }

            .battle-ui-arena {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid $grey-light;
                border-radius: $border-radius $border-radius 0 0;

                > div:first-child {
                    flex-basis: 100%;
                }

                .battle-images,
                .battle-commentary {
                    display: none;
                }

                .battle-names {
                    display: none;
                }

                .battle-healthbars {
                    flex-basis: 70%;
                    padding: 0;
                    text-align: right;

                    #healthPet,
                    #healthOpponent {
                        display: flex;
                        width: 100%;
                    }

                    #healthOpponent {
                        .health_bar {
                            .health_total {
                                border-color: $alert-red;

                                .health_now {
                                    background-color: $alert-red !important;
                                }
                            }
                        }
                    }

                    .health_bar {
                        flex-basis: 60%;
                        order: 1;
                        margin-left: auto;

                        .health_total {
                            width: 100%;
                            border-color: $primary;
                            border-radius: $border-radius;

                            .health_now {
                                border-radius: $border-radius - 1px;
                                background-color: $primary !important;
                            }
                        }
                    }
                }

                .battle-status {
                    flex-basis: 30%;

                    #statusPet,
                    #statusOpponent {
                        transform: translate(0.5rem, -15%);
                    }
                }
            }

            .battle-ui-controls {
                position: relative;
                width: 100%;
                border: 0;
                border-radius: 0 0 $border-radius $border-radius;

                .battle-section-title {
                    display: $display_battle-battleWeapons;
                }

                .weapons-box-options {
                    display: $display_battle-battleWeapons;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    margin: 1rem auto;
                    padding: 1rem;
                    border: 0;
                    background-color: $grey-light;
                    text-align: center;

                    .weapon-option {
                        width: auto;
                        border: 1px solid transparent;
                        border-radius: $border-radius;

                        &:nth-child(n + 2) {
                            margin-left: 1rem;
                        }

                        img {
                            height: auto;
                        }

                        &.selected {
                            border-color: $primary;

                            img {
                                box-shadow: none;
                            }
                        }
                    }
                }

                .battle-select {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: 0 auto 1rem;
                    padding: 0;

                    @media #{$tablet} {
                        width: 100%;
                    }

                    &#weapon_1,
                    &#weapon_2 {
                        display: $display_battle-battleWeapons;

                        .arrow {
                            color: $primary;
                            transform: rotate(-90deg);
                        }

                        .preview_img {
                            width: auto;
                            height: auto;
                            margin: 0 0.5rem;
                            padding: 0;
                            border: 0;
                        }
                    }

                    &#potion {
                        display: $display_battle-battlePotions;
                    }

                    &#spell {
                        display: $display_battle-battleSpells;
                    }

                    .choices-box {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        height: auto;
                        padding: 1rem;

                        .potion-choice,
                        .spell-choice {
                            display: flex;
                            flex-basis: 50%;
                            align-items: center;

                            @media #{$mobile-only} {
                                &:nth-child(n + 3) {
                                    margin-top: 1rem;
                                }
                            }

                            @media #{$tablet} {
                                flex-basis: 25%;

                                &:nth-child(n + 5) {
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }
                }

                .endBattle {
                    .btn {
                        margin-top: 0;
                    }
                }
            }
        }

        p a {
            button {
                margin-top: 1rem;
            }

            + a button {
                @media #{$tablet} {
                    margin-left: 1rem;
                }
            }
        }
    }

    // ARMORY
    + .ui.basic.segment.center.aligned {
        + .ui.basic.segment.center.aligned {
            .button + .button {
                @media #{$mobile-only} {
                    margin-top: 1rem;
                }

                @media #{$tablet} {
                    margin-left: 1rem;
                }
            }

            + .ui.basic.segment {
                .ui.segment:not(:last-child) {
                    padding: 1rem;
                    border-radius: $border-radius;
                    background-color: $white;

                    .ui.basic.segment {
                        padding: 0;

                        .button {
                            margin: 1rem 0;

                            + .button {
                                margin-left: 1rem;
                            }
                        }
                    }

                    small {
                        display: block;
                    }
                }
            }
        }

        ~ .ui.basic.segment {
            .ui.form {
                input[type='text'] {
                    margin-bottom: 1rem;
                }

                #weapons-sortable {
                    margin-top: 1rem;
                }
            }

            .ui.button.tiny {
                margin-left: auto;
            }

            .column.wide.sixteen {
                margin: 0;
            }
        }
    }

    // STATISTICS
    + style + .container.text-center {
        hr {
            display: none;
        }

        .battle-stats-title {
            font-variant: normal;
        }

        h4.text-center {
            display: flex;
            justify-content: center;

            img {
                display: none;
            }

            .badge {
                padding: 0.5rem;
                font-size: 1rem;

                @media #{$mobile-only} {
                    font-size: 0.75rem;
                }

                @media #{$tablet} {
                    padding: 0.5rem 1rem;
                }

                br {
                    display: none;
                }

                > .bs-count {
                    font-size: 1rem;

                    @media #{$mobile-only} {
                        font-size: 0.75rem;
                    }
                }

                &:nth-child(n + 2) {
                    margin-left: 1rem;
                }
            }
        }

        hr + p + .row .col-12.col-md-6 {
            flex-basis: 100%;
            margin: 1rem 0 0 !important;

            @media #{$tablet} {
                flex-basis: calc((100% - 1rem) / 2);
                margin-bottom: 1rem !important;
            }

            + .col-12.col-md-6 {
                margin-left: auto !important;
            }

            .card-header,
            .card-footer {
                background-color: $grey !important;
                color: $black;
            }

            .card-footer {
                padding-top: 0;
            }

            .card-body {
                display: none;
            }

            .form-inline {
                width: 100%;

                .form-group {
                    display: block;
                    width: 100%;

                    select,
                    .btn {
                        width: 100%;
                        border: 0;
                    }

                    .btn {
                        margin-top: 1rem !important;
                    }
                }
            }
        }
    }

    // STATISTICS - RECORDS
    + .text-center style + table {
        width: 100% !important;
        border-radius: $border-radius;
        background-color: $white;

        td {
            &:nth-child(1) {
                flex: 1 1 auto;
            }

            &:nth-child(n + 2) {
                flex-basis: 12.5%;
                text-align: center;
            }
        }

        thead td {
            border-radius: 0;
            border-bottom: 1px solid $grey-light;
            background-color: transparent;

            @media #{$mobile-only} {
                &:nth-child(n + 2) {
                    padding: 0;
                    font-size: 0;
                }

                &:before {
                    transform: translate(0, 30%);
                }

                &:nth-child(2):before {
                    @include icon('add_circle_outline', $font-size: 1.25rem);
                }

                &:nth-child(3):before {
                    @include icon('pause_circle_outline', $font-size: 1.25rem);
                }

                &:nth-child(4):before {
                    @include icon('remove_circle_outline', $font-size: 1.25rem);
                }

                &:nth-child(5):before {
                    @include icon('error_outline', $font-size: 1.25rem);
                }
            }
        }

        tbody td {
            @media #{$mobile-only} {
                font-size: 0.75rem;
            }

            @media #{$tablet} {
                font-size: 1rem;
            }
        }
    }

    // SPEND EXP
    + .row.w-100 {
        .col-12.text-center ~ .text-center.rounded.border.m-3.p-3 {
            width: 50%;
            margin: 0 !important;

            @media #{$tablet} {
                width: calc(100% / 3);
            }

            img + br + h2 {
                margin: 1rem 0 0;

                + br {
                    display: block;
                }
            }

            .btn {
                margin-top: 1rem;
            }
        }
    }
    + .container .row.w-100.mb-3 + .row.w-100 {
        .col-12 {
            flex-basis: 100%;

            &.col-md-4 {
                img {
                    margin-bottom: 1rem;

                    @media #{$mobile-only} {
                        display: none;
                    }
                }
            }

            &.col-md-8 {
                .alert.alert-info {
                    display: none;
                }

                form[action^='/games/battle/exp.php'] {
                    .table.m-3 {
                        border-radius: $border-radius;
                        background-color: $white;

                        th,
                        td {
                            @media #{$mobile-only} {
                                font-size: 0.75rem;
                            }

                            &:nth-child(1) {
                                flex: 1 1 auto;
                            }

                            &:nth-child(n + 2) {
                                flex-basis: 17.5%;
                                text-align: center;
                            }
                        }

                        td {
                            align-self: center;
                            background-color: transparent;
                        }

                        @media #{$mobile-only} {
                            tr:last-child td {
                                &:nth-child(2),
                                &:nth-child(5) {
                                    display: none;
                                }

                                &:nth-child(3),
                                &:nth-child(4) {
                                    flex: 1 1 auto;
                                }
                            }
                        }

                        margin: 1rem 0 0 !important;

                        + .text-right {
                            text-align: center !important;

                            .btn.submit-exp {
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    // HEALER
    + .row.w-100 {
        .col-md-8.col-lg-9 .card.bg-light.mt-3.mb-3 {
            margin-top: 0 !important;

            @media #{$mobile-only} {
                font-size: 0.75rem;
            }

            center {
                margin-top: 1rem;
                text-align: left;
            }
        }

        + .row .healing-pet {
            flex-basis: 100%;

            img {
                margin-bottom: 1rem;
            }

            center a {
                display: block;
                margin-top: 1rem;
            }
        }

        + .alert.alert-success {
            margin-top: 0 !important;
        }
    }

    // BATTLE QUESTS
    + .row > .col-sm-6 {
        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            flex-basis: 100%;
            margin-left: 0;

            .border.rounded.bg-light.p-3.mb-3 {
                @media #{$mobile-only} {
                    font-size: 0.75rem;
                }

                p {
                    display: $display_battle-questsIntro;

                    &:last-of-type {
                        margin-bottom: 1rem;
                    }
                }
            }

            .text_center + .border.rounded.bg-light.p-3.mb-3 {
                p {
                    display: block;
                }
            }

            .alert.alert-info {
                button {
                    margin-top: 1rem;
                }
            }

            .ui.message.green {
                margin-top: 0 !important;

                .content {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .header {
                        flex-basis: 100%;
                    }

                    strong {
                        margin: 0 0.3em;
                    }

                    p:empty {
                        display: block;
                        flex-basis: 100%;
                        margin: 0;
                    }

                    .wl_item {
                        margin-top: 1rem;
                        margin-right: 0.5rem;

                        .wl_plus[data-action='add'] {
                            display: none;
                        }

                        + br {
                            display: none;

                            + span {
                                margin-top: 0.75rem;
                            }
                        }
                    }
                }

                + p {
                    text-align: center;
                }
            }
        }
    }

    // TRAINING CENTER
    + .row.w-100 {
        display: $display_battle-trainingIntro;

        .col-md-4 {
            display: none;
        }

        .ui.message {
            margin-top: 0 !important;
        }

        & + .row.w-100 {
            justify-content: center;

            .training-center-pet {
                flex-basis: 100%;
                border-radius: $border-radius;
                background-color: $white;

                @media #{$mobile-only} {
                    &:nth-child(n + 2) {
                        margin-top: 1rem;
                    }
                }

                @media #{$tablet-only} {
                    flex-basis: calc((100% - 1rem) / 2);

                    &:nth-child(even) {
                        margin-left: 1rem;
                    }

                    &:nth-child(n + 3) {
                        margin-top: 1rem;
                    }
                }

                @media #{$tablet} {
                    &:only-child {
                        flex-basis: 50%;
                    }
                }

                @media #{$desktop} {
                    flex-basis: calc((100% - 2rem) / 3);

                    &:nth-last-child(2):first-child,
                    &:nth-last-child(2):first-child ~ .training-center-pet {
                        flex-basis: calc((100% - 1rem) / 2);
                    }

                    &:nth-child(3n + 2),
                    &:nth-child(3n + 3) {
                        margin-left: 1rem;
                    }

                    &:nth-child(n + 4) {
                        margin-top: 1rem;
                    }
                }

                .p-1 {
                    padding: 0 !important;
                }

                div[style*='background-color:#8EC9B3'],
                div[style*='background-color:#76BCDD'],
                div[style*='background-color:#ffd9d9'] {
                    margin-top: 1rem;
                    background-color: transparent !important;

                    center form,
                    form {
                        display: flex;
                        flex-wrap: wrap;

                        small {
                            margin: 0 auto 0.5rem;
                        }
                    }
                }

                div[style*='background-color:#8EC9B3'] {
                    color: $alert-green;

                    input[type='submit'] {
                        @include button($color: $alert-green, $full-width: true);
                    }
                }

                div[style*='background-color:#76BCDD'] {
                    color: $alert-red;

                    input[type='submit'] {
                        @include button($color: $alert-red, $full-width: true);
                        margin-top: 1rem !important;
                    }
                }

                div[style*='background-color:#ffd9d9'] {
                    color: $alert-blue;

                    input[type='submit'] {
                        @media #{$mobile-only} {
                            display: block;
                            width: 100%;
                        }

                        @media #{$tablet} {
                            width: calc((100% - 1rem) / 2);
                        }

                        &[name='train_normal'] {
                            @include button($color: $alert-blue);
                        }

                        &[name='train_auto'] {
                            @include button($color: $alert-blue, $invert: true);
                            margin-bottom: 1rem;

                            @media #{$tablet} {
                                margin-left: 1rem;
                            }
                        }

                        margin-top: 1rem !important;
                    }
                }
            }
        }
    }

    // TRAINING CENTER - TRAIN STAT
    ~ div select[name='stat'],
    ~ center select[name='stat'] {
        @include form-select($full-width: true);
        margin-top: 1rem;

        $stats: (
            $display_battle-trainingStatStrength,
            $display_battle-trainingStatDefense,
            $display_battle-trainingStatHealth,
            $display_battle-trainingStatLevel,
            $display_battle-trainingStatSpeed
        );

        @each $stat in $stats {
            $i: index($stats, $stat);

            option[value='#{$i}'] {
                display: $stat;
            }
        }

        + br {
            display: none;
        }
    }

    // TRAINING CENTER - TRAIN
    + center {
        img[src*='subeta.net/pets'] {
            margin-bottom: 1rem;
        }

        a[href^='/alert.php'] {
            @include button($color: $alert-green);
            display: block;
            width: 10em;
            margin-top: 1rem;
        }

        a[href='train.php'] + br + .mx-auto.d-inline-block.p-3.border.rounded {
            input[type='submit'] {
                @media #{$mobile-only} {
                    display: block;
                    width: 100%;
                }

                @media #{$tablet} {
                    width: calc((100% - 1rem - 4px) / 2);
                }

                &[name='train_normal'] {
                    @include button($color: $alert-green);
                }

                &[name='train_auto'] {
                    @include button($color: $alert-green, $invert: true);
                    margin-bottom: 1rem;

                    @media #{$tablet} {
                        margin-left: 1rem !important;
                    }

                    + br {
                        display: none;
                    }
                }

                margin-top: 1rem !important;
                margin-bottom: 1rem !important;
            }
        }
    }
}
