// MAPS
img[src*='subeta.net/map'] {
    display: block;
    margin: 0 auto;
    position: relative !important;
}

map,
style,
div {
    + div + .row.w-100 .col-md-12 > .card {
        .d-flex {
            justify-content: start !important;
            text-align: left !important;

            > .p-3,
            > .p-4 {
                @include cols();
                position: relative;

                &:nth-child(n + 2) {
                    @media #{$mobile-only} {
                        border-top: 1px solid $grey-light;
                    }
                }

                a {
                    display: block;

                    + p {
                        position: absolute;
                        top: 50%;
                        left: calc(#{$item-mob} + 2rem);
                        transform: translate(0, -50%);
                        z-index: 0;

                        @media #{$tablet} {
                            left: calc(#{$item} + 3rem);
                        }
                    }
                }
            }

            + .d-flex .p-3 {
                @media #{$mobile-only} {
                    border-top: 1px solid $grey-light;
                }
            }
        }
    }
}

/******************************************************************************/

// CENTROPOLIS - LOWER WEST SIDE
img[src*='subeta.net/explore/images/centropolis_birdseye'] ~ center table {
    margin-bottom: 1rem;
    border-radius: $border-radius;
    background-color: $white;

    tr {
        display: flex;
        flex-wrap: wrap;

        td {
            @include cols($useWidth: true);
            display: block;

            + td {
                @media #{$mobile-only} {
                    border-top: 1px solid $grey-light;
                }
            }

            a {
                display: flex;
                align-items: center;
                color: $black;

                @include hover {
                    text-decoration: none;
                }

                br {
                    display: none;
                }

                img {
                    max-width: $item-mob;
                    margin-right: 1rem;

                    @media #{$tablet} {
                        max-width: $item;
                    }
                }
            }
        }
    }
}

/******************************************************************************/
