// GAME ROOM
.game {
    &-category {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;
        border-radius: $border-radius;
        background-color: $white;

        &-title {
            flex-basis: 100%;
            height: $target;
            padding: 0 1rem;
            border-radius: $border-radius $border-radius 0 0;
            background-color: $grey-dark;
            color: $white;
            text-align: left;

            h1 {
                margin: 0;
                line-height: $target !important;
            }
        }
    }

    &-icon {
        @include cols($index: 2);
        min-width: 0;
        min-height: 0;

        & + & {
            @media #{$mobile-only} {
                border-top: 1px solid $grey-light;
            }
        }

        a {
            display: flex;
            align-items: center;
            text-align: left;
        }
    }
}

/******************************************************************************/

// 2048
@media #{$mobile-only} {
    div[id='2048_puzzle'] {
        width: 100% !important;
        height: calc(#{$vw-mobile} - 2rem) !important;
        margin-top: -1.75rem !important;

        #game-container {
            width: 100% !important;

            .game-container {
                width: 100% !important;
                height: calc(#{$vh-mobile} - 2rem);
                background-size: contain;
                background-repeat: no-repeat;

                .grid-cell,
                .tile {
                    width: calc(((#{$vw-mobile} - 4rem) - 3rem) / 4);
                    height: calc(((#{$vw-mobile} - 4rem) - 3rem) / 4);
                }

                .tile {
                    &-inner {
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                    }

                    &-position {
                        $pos: 1, 2, 3, 4;

                        @each $px in $pos {
                            @each $py in $pos {
                                &-#{$px}-#{$py} {
                                    $x: 0;
                                    $y: 0;

                                    @if $px == 2 {
                                        $x: calc(100% + 1rem);
                                    } @else if $px == 3 {
                                        $x: calc(200% + 2rem);
                                    } @else if $px == 4 {
                                        $x: calc(300% + 3rem);
                                    }

                                    @if $py == 2 {
                                        $y: calc(100% + 1rem);
                                    } @else if $py == 3 {
                                        $y: calc(200% + 2rem);
                                    } @else if $py == 4 {
                                        $y: calc(300% + 3rem);
                                    }

                                    transform: translate(#{$x}, #{$y});
                                }
                            }
                        }
                    }
                }
            }
        }

        + br + br {
            display: none;

            + form {
                .btn {
                    width: 100% !important;
                }
            }
        }
    }
}

/******************************************************************************/

// BLACKOUT
.blackout {
    @at-root .lighton {
        background-color: $primary;
    }

    @at-root .lightoff {
        background-color: $black;
    }

    @at-root .lighton,
        .lightoff {
        width: 100% !important;
        height: 0 !important;
        padding-bottom: 100%;
        cursor: pointer;
    }

    @at-root #blackout_board {
        .lighton,
        .lightoff {
            border: 1px solid $grey-light;
        }

        @media #{$mobile-only} {
            table {
                width: 100%;

                tr {
                    display: flex;

                    td {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}
