// GAME ROOM
.game-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: $tablet-width;
    margin-top: 1rem;
    border-radius: $border-radius;
    background-color: $white;

    .game-category-title {
        flex-basis: 100%;
        height: $target;
        padding: 0 1rem;
        text-align: left;
        border-radius: $border-radius $border-radius 0 0;
        background-color: $dark-grey;
        color: $white;

        h1 {
            margin: 0;
            line-height: $target;
        }
    }

    .game-icon {
        flex-basis: 25%;
        min-width: 0;
        min-height: 0;
        margin: 0;

        @media #{$tablet} {
            flex-basis: 50%;
        }

        @media #{$mobile} {
            flex-basis: 100%;
        }

        a {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;

            br {
                display: none;
            }

            img {
                margin-right: 0.5rem;
                padding-left: 0 !important;
            }
        }
    }
}

// 2048
@media #{$mobile} {
    div[id='2048_puzzle'] {
        width: 100% !important;
        height: calc(#{$mobile-vw} - 2rem) !important;
        margin-top: -1.75rem !important;

        #game-container {
            width: 100% !important;

            .game-container {
                width: 100% !important;
                height: calc(#{$mobile-vh} - 2rem);
                background-size: contain;
                background-repeat: no-repeat;

                .grid-cell,
                .tile {
                    width: calc(((#{$mobile-vw} - 4rem) - 3rem) / 4);
                    height: calc(((#{$mobile-vw} - 4rem) - 3rem) / 4);
                }

                .tile {
                    &-inner {
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                    }

                    &-position {
                        $pos: 1, 2, 3, 4;

                        @each $px in $pos {
                            @each $py in $pos {
                                &-#{$px}-#{$py} {
                                    $x: 0;
                                    $y: 0;

                                    @if $px == 2 {
                                        $x: calc(100% + 1rem);
                                    } @else if $px == 3 {
                                        $x: calc(200% + 2rem);
                                    } @else if $px == 4 {
                                        $x: calc(300% + 3rem);
                                    }

                                    @if $py == 2 {
                                        $y: calc(100% + 1rem);
                                    } @else if $py == 3 {
                                        $y: calc(200% + 2rem);
                                    } @else if $py == 4 {
                                        $y: calc(300% + 3rem);
                                    }

                                    transform: translate(#{$x}, #{$y});
                                }
                            }
                        }
                    }
                }
            }
        }

        + br + br {
            display: none;

            + form {
                .btn {
                    width: 100% !important;
                }
            }
        }
    }
}

// BLACKOUT
#blackout_board {
    .lightoff {
        background-color: $black;
    }

    .lighton {
        background-color: $accent;
    }

    @media #{$mobile} {
        table {
            width: 100%;

            tr {
                display: flex;

                td {
                    flex-grow: 1;

                    .lighton,
                    .lightoff {
                        width: 100% !important;
                        height: 0 !important;
                        padding-bottom: 100%;
                    }
                }
            }
        }
    }
}

// DARK MATTER DICE
#dark-matter-dice {
    // MAIN PAGE
    @at-root table[width='598']
            font[face='verdana'][color='#9400d3']
            form[action='dmd.php?start=true'] {
        margin-top: 1rem;
    }

    // HIDE HIGH SCORES LINK IN BODY
    @at-root h1 + a[href='/games/scores.php?gameid=38'] {
        display: none;
    }

    // CURRENT TURN
    @at-root form[method='POST'] {
        table[width='595'][cellpadding='5'] {
            border-radius: $border-radius;
            background-color: $white;

            tr:nth-child(1) {
                td {
                    padding: 1rem;
                    text-align: center;

                    br,
                    h2 {
                        display: none;
                    }

                    table {
                        width: auto;
                        border: 0 !important;

                        td {
                            padding: 0;

                            br {
                                display: block;
                            }
                        }
                    }
                }
            }

            tr:nth-child(2) {
                td {
                    padding: 0;

                    table {
                        border: 0 !important;
                    }
                }
            }

            tr:nth-child(3) {
                td {
                    padding: 1rem 0;
                }
            }
        }

        + center h2 {
            display: none;
        }

        + center + form[method='POST'] table[cellpadding='10'] > tbody {
            margin-top: 1rem;
            border-radius: $border-radius;
            background-color: $white;

            > tr:nth-child(1) {
                display: flex;
                flex-wrap: wrap;

                > td {
                    flex-basis: 100%;
                    width: 100%;

                    table {
                        border: 0 !important;

                        tr td {
                            padding: 0;
                        }
                    }

                    &:nth-child(1) {
                        // TODO: CONTINUE STYLING
                    }
                }
            }
        }
    }
}

// DECANTER OF INDESTRUCTIBILITY
#decanter {
    @at-root .row.w-100.mx-auto
            + .col-12.col-sm-10.col-md-8.col-lg-6.mx-auto.p-3
            h1
            + h2
            + .card-body
            + h3
            + .row.text-center
            .col.p-2.text-center {
        padding: 0 !important;

        a {
            &[href='?act=1'],
            &[href='?act=2'],
            &[href='?act=3'],
            &[href='?act=4'],
            &[href='?act=5'] {
                font-size: 0;

                br {
                    display: none;
                }
            }
        }
    }
}

// MEMORY
@media #{$mobile} {
    #memory_game {
        width: 100%;

        img[id^='tile'] {
            width: calc(100% / 5);
            height: auto;
        }
    }
}

// SLOTS
div[style='position: relative; margin: auto; width: 358px; height: 474px; overflow: hidden;'] {
    display: none;
}
