.jumbotron.pt-3.pb-3 + .row.w-100.mx-auto {
    flex-direction: column-reverse;
    align-items: flex-start;

    @media #{$desktop} {
        flex-direction: row;
    }

    // POSTS
    .col-9.pl-0 {
        > .ui.header {
            margin-top: 2rem;

            &:first-of-type {
                margin-top: 1rem;

                @media #{$desktop} {
                    margin-top: 0;
                }
            }
        }

        .card {
            &-header a {
                color: $white;
            }

            &-footer {
                @media #{$mobile-only} {
                    font-size: 0.75rem;
                }

                i {
                    padding-right: 0.5rem;
                }

                > a {
                    margin-left: auto;
                }

                .float-right {
                    display: none;
                }
            }

            &-body {
                center {
                    .wl_item {
                        margin-bottom: 1rem;

                        &:nth-of-type(6n) {
                            @media #{$mobile-only} {
                                margin-left: 0;
                            }
                        }

                        + br {
                            display: none;
                        }
                    }

                    br + .wl_item {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    // LINKS
    .col-3.pr-0 {
        display: flex;
        flex-wrap: wrap;

        p:empty {
            display: none;
        }

        > .item {
            width: 100%;

            .ui.progress {
                margin-bottom: 1rem;
            }

            @media #{$tablet-only} {
                display: flex;
                align-items: center;
                width: 75%;
                height: $target;
                margin: 1rem 0;

                &.ui.message {
                    width: calc(25% - 1rem);
                    margin-right: 1rem !important;
                }

                center {
                    flex: 1 0 auto;
                    margin-right: 1rem;
                }

                .ui.progress {
                    flex: 0 1 auto;
                    margin-bottom: 0;
                }
            }
        }

        .card {
            flex-basis: 100%;
            margin-top: 0 !important;

            @media #{$mobile-only} {
                font-size: 0.75rem;
            }

            @media #{$tablet-only} {
                flex-basis: calc((100% - 1rem) / 2);
            }

            &:nth-child(even) {
                margin-left: auto;
            }

            .text-center {
                text-align: left !important;

                > a {
                    display: flex;
                    align-items: center;

                    &[href='/games/potion_lottery.php'] {
                        display: inline-block;
                        width: calc(#{$item-mob} + 1rem);

                        @media #{$tablet} {
                            width: calc(#{$item} + 1rem);
                        }
                    }

                    > img {
                        margin-right: 1rem;
                    }

                    + p {
                        display: inline-block;
                        margin-bottom: 0;
                    }
                }
            }

            .icon.question {
                display: block;
                width: 100%;
                height: auto;
                text-align: left;

                &:before {
                    display: none;
                }

                &:after {
                    content: attr(title);
                    display: block;
                    margin-bottom: 0.5rem;
                    font-family: $font-family;
                }
            }
        }
    }
}
