// QUEST NAVIGATION
.nav-tabs .nav-item .nav-link {
    &[href='/quests.php/blue'] {
        display: $display_quest-blue;
    }

    &[href='/quests.php/carl'] {
        display: $display_quest-carl;
    }

    &[href='/quests.php/cinthia'] {
        display: $display_quest-cinthia;
    }

    &[href='/quests.php/cursed'] {
        display: $display_quest-cursed;
    }

    &[href='/quests.php/library'] {
        display: $display_quest-library;
    }

    &[href='/quests.php/maleria'] {
        display: $display_quest-maleria;
    }

    &[href='/quests.php/pete'] {
        display: $display_quest-pete;
    }

    &[href='/quests.php/quentin'] {
        display: $display_quest-quentin;
    }

    &[href='/quests.php/saggitarius'] {
        display: $display_quest-saggitarius;
    }

    &[href='/quests.php/sarah'] {
        display: $display_quest-sarah;
    }

    &[href='/quests.php/wizard'] {
        display: $display_quest-wizard;
    }
}

.col-8 h1 {
    // QUEST OVERVIEW
    + .ui.message ~ p ~ p + .ui.attached.segment {
        border-radius: $border-radius $border-radius 0 0;
        padding: 1rem;
    }

    // QUEST DETAILS
    + p + p + p + .row {
        .col-md-3 {
            div[style='height: 135px;'] {
                margin-top: 1rem;

                .scode-item-name {
                    display: block;

                    @media #{$mobile-only} {
                        display: none;
                    }
                }
            }
        }

        + br[clear='all'] + .ui.segment.text_center {
            padding: 1rem;

            .btn {
                margin-bottom: 0;

                &-success {
                    margin-right: 1rem;
                }
            }

            .ui.divider {
                display: none;
            }
        }
    }

    // QUEST FINISHED
    + p + center + p a[href^='/quests.php/'] {
        margin: 1rem 0;

        @media #{$mobile-only} {
            display: block;

            + a {
                display: block;
            }
        }

        @media #{$tablet} {
            margin-right: 1rem;
        }
    }
}
